<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>

    <script>
        // Comandos de voz
    </script>
</head>
<body>
    {% if request.user.is_authenticated %}
    <form method='POST' action="">
        {% csrf_token %}
        <button>SALIR</button>
    </form>
    {% endif %}

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="formulario" value="busqueda">
            <h3>Busca tu nuevo hogar...</h3>
            <input type="text" name="busqueda" id="busqueda" maxlength="120" placeholder="Escribe aquí tu búsqueda...">
            <input type="submit">
        </form>
    </div>

    <div>
        <!--
            Información General
        -->
    </div>

    <div>
        <!--
            Accesibilidad
        -->
    </div>

    <div>
        <!--
            Agentes Calificados
        -->
    </div>

    <div>
        <!--
           Invitación a Registro
        -->
    </div>

    <footer>
        <!--
           Footer
        -->        
    </footer>
</body>
</html>