<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>

    <script>
        const synthesis = window.speechSynthesis;
        let speaking = true, escribiendo = false, dictando = false, campo = 0;
        let utterance = undefined;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "buscar inmueble": "Permitirá buscar un inmueble.",
            "leer pantalla": "Lee el contenido de la pantalla",
            // {% if not request.user.is_authenticated %}
            "iniciar sesión": "Lleva a la pantalla de inicio de sesión.",
            // {% else %}
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles"
            // {% endif %}
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript;
                   console.log(speech);
                   ["ayuda","iniciar sesión","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                    "buscar inmueble", "cerrar sesión", "leer pantalla", "dictado", "salir", "listo","continuar", "editar"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "iniciar sesión":
                                hablar("Redirigiendo a la pantalla de inicio de sesión.");
                                location.replace("/usuarios/login/");
                                
                                break;
                            
                            case "buscar inmueble":
                                hablar("Escriba la descripción del inmueble que desea. Diga dictado para dictarla. Diga salir para no buscar. Diga listo una vez haya finalizado.");
                                const input = document.getElementById('busqueda');
                                input.focus();
                                campo = 1;

                                break;

                            case "dictado":
                                if(campo === 1){
                                    hablar("Deletree o dicte la descripción del inmueble que busca");
                                    dictando = true;
                                }
                                
                                break;
                            
                            case "salir":
                                if(campo === 1){
                                    hablar("Saliendo del formulario.");
                                    dictando = false;
                                    campo = 0;
                                }
                                break;

                            case "listo":
                                hablar(`Usted ha escrito: ${document.getElementById('busqueda').value}. Diga "continuar" para buscar inmuebles, o diga "editar" para editar.`);
                                campo = 2;
                                dictando = false;
                                break;
                            
                            case "continuar":
                                if(campo === 2)
                                    document.getElementById('form_busqueda').submit();
                                break;
                            
                            case "leer pantalla":
                                hablar(`Esta es la pantalla principal, la cual se encuentra integrada por las siguientes secciones:
                                1. Barra de Navegación: Aquí se encuentran las opciones básicas de navegación por el sistema.
                                2. Sección de Búsqueda: Aquí se encuentra el campo de búsqueda.
                                3. Sección de Información: Aquí hay información general de la empresa. Hay un párrafo que indica "".
                                4. Sección de Soporte: Aquí se explica el soporte de comandos de voz de la aplicación.
                                5. Sección de Agentes Calificados: Aquí se exhiben los agentes destacados y calificados que trabajan para nostros.
                                6. Sección de Registro: Aquí puede registrarse.
                                7. Sección de Fúter: Aquí se encuentra información básica de la aplicación por motivos estéticos.
                                `);
                                break;
                            
                            case "editar":
                                if(campo === 2){
                                    campo = 1;
                                    document.getElementById('busqueda').value = "";
                                    document.getElementById('busqueda').focus();
                                }
                                break;
                        }
                      }    
                   });

                   if(dictando && speech.toLowerCase().indexOf("dictado") == -1)
                        document.getElementById('busqueda').value += " " + speech.toLowerCase().slice(0,-1);
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                utterance = new SpeechSynthesisUtterance('{% if request.user.is_aunthenticated %}Bienvenido, {{request.user.persona.nombre}}. {% endif %}' + 'Justo ahora está en la pantalla de bienvenida.' 
                    + ' Si quiere saber los comandos disponibles diga "ayuda".');
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onend = async (evt) => {
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
                recognition.start();
                recognition.addEventListener('end', recognition.start);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onend = async (evt) => {
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            synthesis.cancel();
            recognition.stop();
        }
        
        bienvenida();
    </script>
</head>
<body>
    {% include 'nav.html' %}
    {% if request.user.is_authenticated %}
    <form method='POST' action="">
        {% csrf_token %}
        <button>CERRAR SESIÓN</button>
    </form>
    {% endif %}

    <div>
        <form method="post" id="form_busqueda">
            {% csrf_token %}
            <input type="hidden" name="formulario" value="busqueda">
            <h3>Busca tu nuevo hogar...</h3>
            <input type="text" name="busqueda" id="busqueda" maxlength="120" placeholder="Escribe aquí tu búsqueda...">
            <input type="submit">
        </form>
    </div>

    <div>
        <!--
            Información General
        -->
    </div>

    <div>
        <!--
            Accesibilidad
        -->
    </div>

    <div>
        <!--
            Agentes Calificados
        -->
    </div>

    <div>
        <!--
           Invitación a Registro
        -->
    </div>

    <footer>
        <!--
           Footer
        -->        
    </footer>
</body>
</html>