{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'estilos/registration/register.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script>
        const synthesis = window.speechSynthesis;
        const campos = [
            ['Tipo de Persona', 'tipo', ''], 
            ['Identificación', 'identificacion', 'Ingrese su número de identificación. Solo se aceptan números. Diga dictado para dictar.'],
            ['Nombre', 'nombre', 'Ingrese su nombre. Separe con un espacio en caso de tener más de un nombre. Diga dictado para dictar.'],
            ['Apellido', 'apellido', 'Ingrese sus apellidos como aparecen en su cédula de identidad. Diga dictado para dictar.'],
            ['Fecha de Nacimiento', 'fecha_nacimiento', 'Ingrese su fecha de nacimiento. Debe tener al menos 21 años. Diga dictado para dictar.'],
            ['Número Telefónico', 'telefono', 'Ingrese su número telefónico. Debe ser un número telefónico venezolano. Diga dictado para dictar.'],
            ['¿Es usted ciego?', 'ciego', 'Responda a la pregunta con un "sí" o un "no".'],
            ['Correo Electrónico', 'email', 'Ingrese su correo electrónico. Debe ser un correo electrónico válido.'],
            ['Contraseña', 'password', 'Ingrese su contraseña secreta. Debe tener un mínimo de 8 caracteres y por seguridad no se puede dictar.']
        ];
        let speaking = false, reporte = false, escribiendo = false, dictando = false, campo = 0;;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "iniciar sesión": "Llevar a la página de inicio de sesión",
            "registrarse": "Permite iniciar el formulario de registro",
            "regresar inicio": "Regresa a la pantalla de inicio",
            "desactivar comandos de voz": "Desactiva los comandos de voz",
            "leer pantalla": "Lee la estrctura general de la pantalla."
        };

        function formulario_p1(event){
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace("lista","listo").replace("Lista","listo");
                   console.log(speech);
                    
                    if(campo === 0){
                        speech = speech.toLowerCase().replace("uno", "1").replace("dos", "2");
                    }

                    ["dictado", "salir", "continuar", "editar", "listo", "1", "2","sí","no"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                                case "salir":
                                    campo = 0;
                                    hablar("Usted ha dicho salir. Saliendo del formulario.");
                                    dictando = false;
                                    recognition.onresult = inicial;
                                break;

                                case "dictado":
                                    if([1,2,3,4,5,7].indexOf(campo) !== -1 && !dictando){
                                        if(campo !== 4)
                                            hablar(`Usted ha dicho dictado. Deletree o dicte con claridad su ${campos[campo][0]}.`);
                                        else
                                            hablar("Usted ha dicho dictado. Su fecha de nacimiento debe ser pronunciada en el formato: día (en números) mes (en nombre) año (en números)");

                                        escribiendo = true;
                                        dictando = true;
                                    }
                                    break;

                                case "continuar":
                                    if(!escribiendo || campo === 6){
                                        campo++;
                                        if(campo < campos.length){
                                            const input2 = document.getElementById(campos[campo][1]);
                                            input2.focus();
                                            hablar(`Campo #${campo+1}: ${campos[campo][0]}. ${campos[campo][2]}.`
                                            + (campo !== 6 && $(`#${campos[campo][1]}`).val() != '' ? "El campo actualmente tiene el valor: " + $("#"+campos[campo][1]).val() + ". Diga listo y luego editar para editarlo." : ""));
                                            
                                            escribiendo = true;
                                        } else{
                                            campo = 0;
                                            $('form').submit();
                                        }
                                    }
                                    break;
                                
                                case "editar":
                                    if(campo >= 1 && !escribiendo){
                                        hablar(`Usted ha dicho 'editar'. Vuelva a escribir su ${campos[campo][0]}.`)
                                        $(`#${campos[campo][1]}`).val("");
                                        const input2 = document.getElementById(campos[campo][1]);
                                        input2.focus();
                                        escribiendo = true;
                                    } else if(!escribiendo){
                                        hablar("Usted ha dicho 'editar'. Diga 'dictado' para dictarlo.")
                                        $('#id_username').val("");
                                    }                                
                                    break;

                                case "listo":
                                    if(campo === 6)
                                        break;

                                    dictando = false;
                                    if(campo >= 1 && campo <= 5 || campo >= 7 && campo <= 8){
                                        let id = `#${campos[campo][1]}`;
                                        if($(id).val() == ''){
                                            hablar(`El campo ${campos[campo][0]} no puede estar vacío. Por favor, escríbalo o díctelo nuevamente.`);
                                            break;
                                        }

                                        if(campo === 1){
                                            let existe = false;
                                            $.ajax({
                                                url: "comprobar/cedula",
                                                contentType: "application/json",
                                                dataType: "json",
                                                type: "GET",
                                                cache: true,
                                                async: false,
                                                data: {
                                                    'tipo': $('#tipo').val(),
                                                    'cedula': $('#identificacion').val()
                                                },
                                                success: (res) => {
                                                    console.log(res);
                                                    existe = res.existe;
                                                },
                                                error: (e) => console.log(e)
                                            });

                                            if(existe){
                                                hablar(`La cédula ${$(id).val()} ya está registrada en la base de datos. Por favor, intente ingresando una nueva.`);
                                                $(id).val("");
                                                break;
                                            }
                                        }
                                        
                                        if(campo === 2 || campo === 3){
                                            console.log($(id).val());
                                            console.log(/^[a-zA-ZáéíóúÁÉÍÓÚñÑüÜ\s]+$/.test($(id).val()));
                                            if(!/^[a-zA-ZáéíóúÁÉÍÓÚñÑüÜ\s]+$/.test($(id).val())){
                                                hablar("Los nombres y apellidos deben estar conformados únicamente por letras.");
                                                $(id).val("");
                                                break;
                                            }
                                        }

                                        if(campo === 4){
                                            console.log($(id).val());
                                            if(getAge($(id).val()) < 21){
                                                hablar("Debe de ser mayor a 21 años para participar en la comercialización de inmuebles.");
                                                $(id).val("");
                                                break;
                                            }
                                            if($(id).val().getFullYear() < 1900){
                                                hablar("La fecha de nacimiento no puede ser antes del año 1900.");
                                                $(id).val("");
                                                break;
                                            }
                                        }

                                        if(campo === 5){
                                            let tlf = false;
                                            $.ajax({
                                                url: "comprobar/telefono",
                                                contentType: "application/json",
                                                dataType: "json",
                                                type: "GET",
                                                cache: true,
                                                async: false,
                                                data: {
                                                    'numero_telefono': $('#numero_telefono').val()
                                                },
                                                success: (res) => {
                                                    console.log(res);
                                                    tlf = res.existe;
                                                },
                                                error: (e) => console.log(e)
                                            });

                                            if(tlf){
                                                hablar(`El número de teléfono ${$(id).val()} ya está registrado en la base de datos. Por favor, intente ingresando uno nuevo.`);
                                                $(id).val("");
                                                break;
                                            }

                                            if(!/^[0-9]+$/.test($(id).val())){
                                                hablar("El número de teléfono debe ser enteramente numérico.");
                                                $(id).val("");
                                                break;
                                            }
                                        }

                                        if(campo === 7){
                                            let existe = false;
                                            $.ajax({
                                                url: "comprobar/correo",
                                                contentType: "application/json",
                                                dataType: "json",
                                                type: "GET",
                                                cache: true,
                                                async: false,
                                                data: {
                                                    'email': $('#email').val()
                                                },
                                                success: (res) => {
                                                    console.log(res);
                                                    existe = res.existe;
                                                },
                                                error: (e) => console.log(e)
                                            });

                                            if(existe){
                                                hablar(`El correo electrónico ${$(id).val()} ya está registrado en la base de datos. Por favor, intente ingresando uno nuevo.`);
                                                $(id).val("");
                                                break;
                                            }

                                            if($(id).val().indexOf('@') === -1){
                                                hablar(`Usted ha escrito: ${$(id).val()}. El correo electrónico debe contener el símbolo: @. Vuelva a escribir o dictarlo.`);
                                                $(id).val("");
                                                break;
                                            } else if($(id).val().split("@").length !== 2) {
                                                hablar(`Usted ha escrito: ${$(id).val()}. El correo electrónico debe estar separado en dos partes por el símbolo @.`);
                                                $(id).val("");
                                                break;
                                            }
                                        }

                                        $(id).val($(id).val().trim().replace(/\s+/g,' '));
                                        
                                        if(campo === 8){
                                            if($(id).val().length < 8){
                                                $(id).val("");
                                                hablar("La longitud de la contraseña debe ser mayor o igual a 8. Escríbala nuevamente.");
                                                break;
                                            }
                                        }
                                    }

                                    if(campo <= 7)
                                        hablar("Usted ha escrito: " + $('#'+campos[campo][1]).val() + " Diga 'editar' para editar o 'continuar' para seguir con el siguiente campo.")
                                    else
                                        hablar("Usted ha escrito su contraseña secreta. Diga continuar para enviar el formulario.")
                                    
                                        escribiendo = false;
                                    break;
                                
                                case "1":
                                    if(campo === 0 && !speaking){
                                        hablar("Usted ha seleccionado la opción 'venezolano'. Si quiso decir extranjero, diga 2. Si quiere continuar, diga continuar.");
                                        $('#tipo').val("V");                                
                                    }
                                    break;
                                
                                case "2":
                                    if(campo === 0 && !speaking){
                                        hablar("Usted ha seleccionado la opción 'extranjero'. Si quiso decir venezolano, diga 1. Diga continuar para continuar.");
                                        $('#tipo').val("E");
                                    }
                                    break; 
                                
                                case "sí":
                                    if(campo === 6){
                                        $('#ciego').prop("checked", true);
                                        hablar("Usted ha dicho que sí es ciego. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    }
                                    break;
                                
                                case "no":
                                    if(campo === 6){
                                        $('#ciego').prop("checked", false);
                                        hablar("Usted ha dicho que no es ciego. Diga sí para cambiar esta opción. Si quiere continuar, diga continuar.")                                        
                                    }
                                    break;
                            }
                        }
                    });

                    console.log(dictando);
                    console.log(campo)
                    if(!speaking){
                        if(dictando && (campo === 1 || campo === 5)){
                            speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace('e','').replace('.','').replace(",","").replace(/\s+/g,"");
                            
                            if(!isNaN(speech) && speech != '') // Esto verifica que el string sea numérico
                                $('#'+campos[campo][1]).val($('#'+campos[campo][1]).val() + speech)

                        } else if(dictando && campo === 4){
                            speech = speech.toLowerCase().replaceAll("del","").replaceAll("de","").replaceAll(/\s+/g, " ");
                            let nuevo = speech.replace("enero","01").replace("febrero","02").replace("marzo","03")
                            .replace("abril","04").replace("mayo","05").replace("junio","06")
                            .replace("julio","07").replace("agosto","08").replace("septiembre","09")
                            .replace("octubre","10").replace("noviembre","11").replace("diciembre","12").replace(".","");
                            $('#fecha_nacimiento').val(`${nuevo.split(" ")[2]}-${nuevo.split(" ")[1]}-${nuevo.split(" ")[0].length > 1 ? nuevo.split(" ")[0] : "0" + nuevo.split(" ")[0]}`)
                        }
                        else if(dictando && campo === 5){
                            if(/[0-9]+/.test(speech.replaceAll(" ", "")))
                                $('#telefono').val($('#telefono').val() + speech.replaceAll(" ", ""));
                        }                        
                        else if(dictando && campo === 7){
                            if(speech.toLowerCase().indexOf("dictado") === -1)
                                $('#email').val( $('#email').val() + speech.toLowerCase().replace('arroba', '@').replace(/.$/g,"").replace(",","").replace("punto", ".").replace("listo","").replace("salir","").replace(/\s+/g, ""));
                        }
                        else if(dictando){
                            if(speech.indexOf("Dictado") === -1){
                                console.log("A");
                                $('#'+campos[campo][1]).val($('#'+campos[campo][1]).val() + " " + speech.toLowerCase().split(' ').map((word) => 
                                    (word.charAt(0).toUpperCase() + word.slice(1))).join(" ").replace('.',''));
                            }
                        }
                    }    
                }
            }
        }

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace("lista","listo").replace("Lista","listo").replace(/[rR]egresar\sa[l]*\sinicio/g, "regresar inicio");;
                   console.log(speech);
                   if(localStorage.getItem('comandos') == '1')
                   Object.keys(comandos).forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;

                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                                
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                            break;

                            case "iniciar sesión":
                                hablar("Usted ha dicho iniciar sesión. Redirigiendo.");
                                document.getElementById();
                                location.replace("/usuarios/login/");
                                break;
                            
                            case "registrarse":
                                hablar("Usted ha dicho registrarse. Diga 'salir' para salir del formulario. Campo #1: Tipo de Persona. Diga 1 para venezolano. Diga 2 para extranjero."
                                + ($(`#${campos[campo][1]}`).val() != '' ? "El campo actualmente tiene el valor: " + $("#"+campos[campo][1]+' option:selected').text() + ". Si quiere editarlo elija otra opción." : ""));
                                
                                recognition.onresult = formulario_p1;
                                break;

                            case "leer pantalla":
                                hablar(`Usted se encuentra en la pantalla de registro de usuario, la cual se encuentra dividida en las siguientes secciones:
                                    1. Sección de Navegación: Aquí se encuentra la barra de navegación de la aplicación web.
                                    2. Sección de Formulario: Aquí se encuentra el formulario de inicio de sesión.`);
                                break;
                        }
                      }    
                   });
                
                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            console.log(event);
        }

        async function bienvenida(tipo = 0){
            if ('speechSynthesis' in window) {
                var utterance = undefined;
                
                if(tipo === 0)
                    utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de registro de usuario. Diga "ayuda" para obtener los comandos que puede utilizar en esta pantalla.');
                else
                    utterance = new SpeechSynthesisUtterance('El formulario que envió contiene errores: {% for error in errores %}{{forloop.counter}}: {{error}}. {% endfor %}.');
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        async function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }

        if(localStorage.getItem('comandos') == '1')
            if({{errores|length}} === 0) {
                bienvenida(); }
            else {
                bienvenida(1); }

        function getAge(dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();

            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate()))
                age--;

            return age;
        }

        recognition.start();
        recognition.addEventListener('end', () => !speaking ? recognition.start() : console.log("a"));

        document.addEventListener("keydown", function(event) {
            if (event.altKey && event.code === "KeyX"){ // Parar hablar
                synthesis.cancel();
                speaking = false;
                recognition.start();
            } else if(event.altKey && event.code === "KeyC"){
                synthesis.cancel();
                speaking = false;
                if(localStorage.getItem('comandos') == '1'){
                    localStorage.setItem('comandos', 0);
                    hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                } else if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos'))){
                    bienvenida();
                    localStorage.setItem("comandos", 1);
                }
            }
        });
    </script>
</head>
{% include 'nav.html' %}
<body>
    <div class="contenedorElementos container-fluid">
        <div class="cuadroLogin container-fluid">
    <h1 class="tituloRegistro">Registro de Usuario</h1><br>
    {% if errores %}
    <ul>
        {% for error in errores %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="contenedorFormulario">
    <form method="post">
        {% csrf_token %}
        <h4 class="tituloDatos">Datos Personales</h4>
        <label class="tituloInput form-label">Cédula de Identidad o RIF:</label><br>
        <div class="grupoCedula">
        <select name="tipo" id="tipo" class="form-select" id="formSelect">
            <option {% if previo.tipo == 'V' %} selected {% endif %} value="V">V</option>
            <option {% if previo.tipo == 'E' %} selected {% endif %} value="E">E</option>
        </select>
        <input {% if previo %} value="{{previo.identificacion}}" {% endif %} required type="number" max="999999999" name="identificacion" id="identificacion" class="form-control"><br></div>
        <br>
        <label class="tituloInput">Nombre(s):</label><br>
        <input {% if previo %} value="{{previo.nombre}}" {% endif %} required type="text" name="nombre" id="nombre" class="form-control"><br>

        <label class="tituloInput">Apellido(s):</label><br>
        <input {% if previo %} value="{{previo.apellido}}" {% endif %} required type="text" name="apellido" id="apellido" class="form-control"><br>

        <label class="tituloInput">Fecha de Nacimiento:</label><br>
        <input required type="date" min="1900-01-01" name="fecha_nacimiento" id="fecha_nacimiento" class="form-control"><br>

        <label class="tituloInput">Número Telefónico:</label><br>
        <input {% if previo %} value="{{previo.telefono}}" {% endif %} required type="text" maxlength="11" name="telefono" id="telefono" class="form-control"><br>

        <label class="tituloInput">¿Es Usted Ciego?</label>
        <input {% if previo.ciego %} checked {% endif %} type="checkbox" name="ciego" id="ciego"><br><br>

        <h4 class="tituloDatos">Datos de Usuario</h4>
        <label class="tituloInput">Correo Electrónico:</label><br>
        <input {% if previo %} value="{{previo.email}}" {% endif %} required type="email" name="email" id="email" class="form-control"><br>

        <label class="tituloInput">Contraseña:</label><br>
        <input required type="password" minlength="5" name="password" id="password" class="form-control"><br><br>

        <input required type="submit" value="Registrar" class="btn btn-success"><br><br>
        <p class="reminder">¿Ya tiene cuenta? <a href="login/">Regresar</a>  </p>

        <script>
            let elements = Array.prototype.slice.call(document.getElementsByTagName('input'), 0 );
            console.log(elements);
            elements.map((x) => {
                x.addEventListener('change', (e) => {
                    e.target.value = e.target.value.trim().replace(/\s+/g,' ');
                });
            });

            $('form').one('submit', function() {
                $(this).find('input[type="submit"]').attr('disabled','disabled');
            });

            const hoy = new Date();
            document.getElementById("fecha_nacimiento").setAttribute("max", `${hoy.getFullYear()}-${hoy.getMonth()+1 < 10 ? "0" +(hoy.getMonth()+1) : hoy.getMonth()+1 }-${hoy.getDate()< 10 ? "0" +(hoy.getDate()) : hoy.getDate()}`);
        </script>
    </form>  
</div>
</div>
</div>  
{% include 'footer.html' %}
</body>
</html>