<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelar Publicación "{{publicacion.nombre}}"</title>

    <script>
        const synthesis = window.speechSynthesis;
        let speaking = false, escribiendo = false, dictando = false, reporte = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "yo quiero cancelar esta publicacion": "Envía la cancelación de la publicacion {{publicacion.nombre}} al agente",
            "desactivar comandos de voz": "Desactiva los comandos de voz",
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "ver perfil": "Permite ver sus datos personales"
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.toLowerCase().replace(/[,.]/g,'').replace("cuatro", "4").replace("mp 3", "mp3 ");
                   console.log(speech);

                   if(localStorage.getItem('comandos') == '1')
                   ["ayuda","ver perfil","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                   "cerrar sesión", "leer pantalla", "yo quiero cancelar esta publicación", "desactivar comandos de voz"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;

                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            // {% if request.user.is_authenticated %}
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "cerrar sesión":
                                document.getElementById('cerrar_sesion').click();
                                break;

                            case "ver perfil":
                                window.location.replace('/usuarios/perfil/');
                                break;
                            // {%endif%}
                                                        
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de cancelación de la publicación {{inmueble.nombre}} en el sector {{inmueble.sector.nombre}}.
                                    Esta pantalla está dividida en las siguientes secciones:
                                    1. Sección de Navegación: Aquí están las opciones de la barra de navegación.
                                    2. Sección de Cancelación: Aquí se encuentra el botón para enviar la solicitud de cancelación de publicación.
                                `);
                                break;

                            case "yo quiero cancelar esta publicación":
                                document.getElementById("cancelar").click();                                
                                break;
                        }
                      }    
                   });

                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance('Usted ha dicho que desea cancelar la publicación {{publicacion.nombre}}. Para regresar diga "consultar publicaciones", para proseguir con la cancelación diga "yo quiero cancelar esta publicación".');
                
               utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }
        
        if(localStorage.getItem('comandos') == '1')
            bienvenida();

        recognition.start();
        recognition.addEventListener('end', () => !speaking ? recognition.start() : console.log("a"));

        document.addEventListener("keydown", function(event) {
            if (event.altKey && event.code === "KeyX"){ // Parar hablar
                synthesis.cancel();
                speaking = false;
                recognition.start();
            } else if(event.altKey && event.code === "KeyC"){
                synthesis.cancel();
                speaking = false;
                if(localStorage.getItem('comandos') == '1'){
                    localStorage.setItem('comandos', 0);
                    hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                } else if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos'))){
                    bienvenida();
                    localStorage.setItem("comandos", 1);
                }
            }
        });
    </script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        Presione el siguiente botón si está de acuerdo con la cancelación de la publicación:
        <button type="submit" id="cancelar">Quiero cancelar esta publicación.</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script>
        $('form').one('submit', function() {
            $(this).find('button[type="submit"]').attr('disabled','disabled');
        }); 
    </script>
</body>
</html>