<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones Asignadas Activas</title>
</head>
<body>
    <a href="{% url 'bienvenida_agente' %}">Regresar al Menú Principal</a><br>
    {% for publicacion in publicaciones %}
    <hr>
    <h5>{{publicacion.nombre}}</h5>
    {% for imagen in publicacion.imagenes %}
        <img class="border border-secondary rounded my-2 mx-3" height="100"
            src="{{imagen}}"
            width="100"/>
    {% endfor %}
    <br><b>Precio:</b> ${{publicacion.precio}}
    <b>Sector:</b> {{publicacion.sector.nombre}} (Parroquia {{publicacion.sector.parroquia.nombre}})
    <b>Ubicación detallada: </b> {{publicacion.ubicacion_detallada}}
    <b>Agente Asignado:</b> {{publicacion.agente}} ({{publicacion.agente.cedula}})
    <b>Estado de la Publicación:</b> {{publicacion.estado_largo}}
    
    {% if publicacion.estado == 'V' %}
    <br>Los datos del comprador:
    {% endif %}
    
    {% empty %}
    Actualmente no tiene publicaciones finalizadas.
    {% endfor %}
</body>
</html>