<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de sus Inmuebles</title>
</head>
<body>
    <h2>Consultar Pagos Realizados</h2>
    {% for pago in pagos %}
    <hr>
    <b>Monto</b>: Bs. {{pago.monto}} / $ {{pago.valor_dolar|floatformat:2}} (Tasa: {{pago.tasa.tasa}}) <br>
    <b>Estado:</b> {{pago.estado_largo}} <br>
    <b>Fecha:</b> {{pago.fecha}} <br>

    {% if pago.estado == 'R' %}
    <b>Comentario del Cajero: </b> {{pago.comentario_cajero}}
    {% elif pago.estado == 'P' %}
    <a href="{% url 'formulario_aprobar_pago' pk=pago.pk %}">Revisión</a>
    {% endif %}
    {% endfor %}
</body>
</html>