{% load pwa %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones En Revisión</title>
</head>
<body>
    {% include 'nav.html' %}
    <a href="{% url 'bienvenida_agente' %}">Regresar al Menú Principal</a><br>
    {% for publicacion in publicaciones %}
    <hr>
    <h5>{{publicacion.nombre}}</h5>
    {% for imagen in publicacion.imagenes %}
        <img class="border border-secondary rounded my-2 mx-3" height="100"
            src="{{imagen}}"
            width="100"/>
    {% endfor %}
    <br><b>Precio:</b> ${{publicacion.precio}}
    <b>Sector:</b> {{publicacion.sector.nombre}} (Parroquia {{publicacion.sector.parroquia.nombre}})
    <b>Ubicación detallada: </b> {{publicacion.ubicacion_detallada}}
    <b>Dueño:</b> {{publicacion.dueno}} ({{publicacion.dueno.cedula}})
    <b>Teléfono del Dueño:</b> {{publicacion.dueno.numero_telefono}}
    <b>Email del Dueño:</b> {{publicacion.dueno.usuario_persona.email}}
    <b>Estado de la Publicación:</b> {{publicacion.estado_largo}}
    {% if publicacion.estado == 'R' %}
    <a href="{% url 'aprobar_inmueble' pk=publicacion.pk %}">Revisar</a>
    {% elif publicacion.estado == 'E' %}
    <a href="{% url 'revision_edicion_inmueble' pk=publicacion.pk %}">Revisar Edición</a>
    {% else %}
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="inmueble" value="{{publicacion.pk}}">
        <button type="submit" name="tipo" value="cancelar">Aprobar Cancelación</button>
    </form>
    {% endif %}
    {% empty %}
    Actualmente no tiene publicaciones asignadas para revisar.
    {% endfor %}
</body>
{% include 'footer.html' %}
</html>