:root {
    --negro: #000000;
    --verdeOscuro: #6EC402;
    --verdeClaro: #a9f14f;
    --verdeOscuroFondo: rgb(169, 241, 79, 0.5);
    --negroFondo: rgb(0, 0, 0, 0.5);
    --blanco: #FFFFFF;
 }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.fondoLogin {
    background-image: url("../../img/login/fondoLogin.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.cuadroForm {
    background-color: rgb(253, 247, 234);
    border-radius: 5%;
}

.loginTitle {
    color: var(--verdeOscuro);
    font-weight: 700;
}

.btn-success {
    background-color: var(--verdeOscuro)!important;
    color: white!important;
    border-color: var(--verdeOscuro)!important;
}

.btn-success:hover {
    background-color: #427800!important;
    color: white!important;
    border-color: #427800!important;
}

@media(max-width:2000px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 650px;

        height: fit-content !important;
        padding-bottom: 20px !important;
    }

    .cuadroForm {
        margin-left: 310px;
        margin-right: 310px;
        padding: 40px 10px 20px 60px;
    }

    .loginTitle {
        font-size: 500%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 190%;
    }

    .form-control {
        width: 85%!important;
    }

    .btn-success{
        width: 30%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 160%;
    }



}

@media(max-width:1440px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 650px;
    }

    .cuadroForm {
        margin-left: 240px;
        margin-right: 240px;
        padding: 40px 10px 20px 60px;
    }

    .loginTitle {
        font-size: 440%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 190%;
    }

    .form-control {
        width: 85%!important;
    }

    .btn-success{
        width: 30%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 160%;
    }



}

@media(max-width:1280px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 650px;
    }

    .cuadroForm {
        margin-left: 100px;
        margin-right: 100px;
        padding: 40px 10px 20px 60px;
    }

    .loginTitle {
        font-size: 440%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 190%;
    }

    .form-control {
        width: 90%!important;
    }

    .btn-success{
        width: 30%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 160%;
    }



}


@media(max-width:1024px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 650px;
    }

    .cuadroForm {
        margin-left: 60px;
        margin-right: 60px;
        padding: 40px 10px 20px 60px;
    }

    .loginTitle {
        font-size: 370%;
        text-align: left;
    }

    .etiquetaLogin {
        font-size: 170%;
    }

    .form-control {
        width: 90%!important;
    }

    .btn-success{
        width: 30%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 140%;
    }



}

@media(max-width:800px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 650px;
    }

    .cuadroForm {
        margin-left: 60px;
        margin-right: 60px;
        padding: 40px 30px 20px 50px;
    }

    .loginTitle {
        font-size: 370%;
        text-align: left;
    }

    .etiquetaLogin {
        font-size: 170%;
    }

    .form-control {
        width: 90%!important;
    }

    .btn-success{
        width: 40%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 140%;
    }



}

@media(max-width:768px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 550px;
    }

    .cuadroForm {
        margin-left: 60px;
        margin-right: 60px;
        padding: 40px 50px 20px 50px;
    }

    .loginTitle {
        font-size: 290%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 110%;
    }

    .form-control {
        width: 80%!important;
    }

    .btn-success{
        width: 30%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 100%;
    }



}

@media(max-width:600px) {
    .fondoLogin {
        padding-top: 60px;
        padding-bottom: 30px;
        height: 550px;
    }

    .cuadroForm {
        margin-left: 30px;
        margin-right: 30px;
        padding: 40px 20px 20px 20px;
    }

    .loginTitle {
        font-size: 290%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 110%;
    }

    .form-control {
        width: 90%!important;
    }

    .btn-success{
        width: 20%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 100%;
    }



}

@media(max-width:480px) {
    .fondoLogin {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 500px;
    }

    .cuadroForm {
        margin-left: 20px;
        margin-right: 20px;
        padding: 40px 10px 20px 10px;
    }

    .loginTitle {
        font-size: 200%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 100%;
    }

    .form-control {
        width: 90%!important;
    }

    .btn-success{
        width: 20%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 100%;
    }



}

@media(max-width:320px) {
    .fondoLogin {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 500px;
    }

    .cuadroForm {
        margin-left: 20px;
        margin-right: 20px;
        padding: 40px 10px 20px 10px;
    }

    .loginTitle {
        font-size: 170%;
        text-align: center;
    }

    .etiquetaLogin {
        font-size: 100%;
    }

    .form-control {
        width: 100%!important;
    }

    .btn-success{
        width: 20%!important;

}
    .etiquetaNoTienesCuentaAun {
        font-size: 100%;
    }

}

