{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar sus Citas</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'estilos/consultas/consultarCitasVisita.css' %}">
    
    <script>
        const synthesis = window.speechSynthesis;
        let speaking = false, escribiendo = false, dictando = false, reporte = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "leer citas": "Lee las citas que se muestran en pantalla.",
            // {% if citas.count %}
            "leer cita": "Seguido de un número lee los detalles de la cita especificada.",
            "descargar pdf": "Descarga el reporte PDF de la cita",
            "descargar mp3": "Descarga el reporte MP3 de la cita",
            // {% endif %}
            "desactivar comandos de voz": "Desactiva los comandos de voz",
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "ver perfil": "Permite ver sus datos personales",  
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length  && !speaking; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace(/[,.]/g,'').replace("dos","2").replaceAll("coman2","comandos").replace("tres","3").replace("cuatro","4")
                                .replace("cinco","5").replace("seis","6").replace("siete","7").replace("ocho","8")
                                .replace("nueve","9").replace("uno","1").replace("una","1").replace(/[rR]egresar\sa[l]*\sinicio/g, "regresar inicio");
                   console.log(speech);

                   if(localStorage.getItem('comandos') == '1')
                   ["ayuda","ver perfil","consultar compras","consultar ventas","consultar citas","consultar publicaciones", "leer citas", 
                   "regresar inicio", "descargar mp3", "descargar mp 3", "descargar pdf","cerrar sesión", "leer pantalla", "leer cita", "regresar inicio",
                   "desactivar comandos de voz"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;

                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                                
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "Presione ALT + C para desactivar o activar comandos de voz. Presione ALT + X para cancelar el periodo de habla."
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            // {% if request.user.is_authenticated %}
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "cerrar sesión":
                                document.getElementById('cerrar_sesion').click();
                                break;

                            case "ver perfil":
                                window.location.replace('/usuarios/perfil/');
                                break;
                            // {%endif%}
                                                        
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de consultas de citas. Usted ha tenido {{citas.count}} citas. La pantalla está dividida en las siguientes secciones:
                                1. Barra de Navegación: Aquí se encuentran las opciones de navegación básicas.
                                2. Sección de Citas: Aquí se muestran los detalles de las {{citas.count}} citas que ha tenido. Diga "leer citas", o, "leer cita" seguido del número de cita.
                                `);
                                break;
                            
                            case "leer cita":
                                console.log(speech.split(" "));
                                console.log(speech.split(" ").indexOf("cita"));
                                const numero = speech.split(" ")[speech.split(" ").indexOf("cita") + 1]
                                .replace(/[.,]/g,"")
                                .replace("dos","2").replaceAll("coman2","comandos").replace("tres","3").replace("cuatro","4")
                                .replace("cinco","5").replace("seis","6").replace("siete","7").replace("ocho","8")
                                .replace("nueve","9").replace("uno","1").replace("una","1");;
                                let pasado = false;
                                console.log(numero);
                                // {% for cita in citas %}
                                if(numero == '{{forloop.counter}}'){
                                    hablar(`Esta cita tiene como fecha {{cita.fecha_asignada.date}} a las {{cita.fecha_asignada.hour}} horas.
                                     {% if cita.compra %} Cita de formalización para la compra del inmueble {{cita.compra.inmueble.nombre}}
                                     {% else %} Cita de visita al inmueble {{cita.inmueble.nombre}}, ubicando en el sector {{cita.inmueble.sector.nombre}},
                                     ubicación detallada: "{{cita.inmueble.ubicacion_detallada}}"{% endif %}. 
                                     Su estatus es {{cita.estado_largo}}.
                                     {% if cita.estado == "F" or cita.estado == "X" %}El agente añadió un comentario: "{{cita.resultados}}".{% endif %}`)
                                    pasado = true;
                                }
                                // {% endfor %}

                                if(!pasado)
                                    hablar(`No hay citas con el número ${numero}.`)
                                hablar(``);
                                break;
                            
                            // {% if citas.count %}
                            case "leer citas":
                                hablar(`
                                {% for cita in citas %}
                                Cita #{{forloop.counter}} {{cita.inmueble.nombre}} a la fecha {{cita.fecha_asignada}}, estado: {{cita.estado_largo}}.{% if cita.compra %} Esta es una cita para finalizar su compra.{% endif %}\n
                                {% empty %}
                                Usted no tiene ninguna cita.
                                {% endfor %}`);
                                break;
                            
                            case "descargar pdf": // Tanto cita por comprobante como general
                                const cita = speech.split(" ")[speech.split(" ").indexOf("PDF") + 1].replace(/[.,]/g,"");
                                console.log(cita);
                                // {% for cita in citas %}
                                if(cita == '{{forloop.counter}}'){
                                    if(["E","P"].indexOf(("{{cita.estado}}")) !== -1){
                                        hablar("Descargando comprobante de cita en formato PDF.");
                                        reporte = true;
                                        document.getElementById('pdf_{{cita.pk}}').click();
                                    } else
                                        hablar("La cita especificada no permite la descarga de su comprobante.");
                                    break;
                                }
                                // {% endfor %}

                                hablar(`No hay citas con el número ${cita}.`);
                                break;
                            
                            case "descargar mp3": // Tanto cita por comprobante como general
                                const mp3 = speech.split(" ")[speech.split(" ").indexOf("MP3") + 1].replace(/[.,]/g,"");
                                console.log(mp3);
                                // {% for cita in citas %}
                                if(cita == '{{forloop.counter}}'){
                                    if(["E","P"].indexOf(("{{cita.estado}}")) !== -1){
                                        hablar("Descargando comprobante de cita en formato MP3.");
                                        reporte = true;
                                        document.getElementById('mp3_{{cita.pk}}').click();
                                    } else
                                        hablar("La cita especificada no permite la descarga de su comprobante.");
                                    break;
                                }
                                // {% endfor %}

                                hablar(`No hay citas con el número ${mp3}.`);
                                break;
                            
                            case "descargar mp 3": // Tanto cita por comprobante como general
                                const mp_3 = speech.split(" ")[speech.split(" ").indexOf("MP") + 1].replace(/[.,]/g,"").replace(/^3/g, "");
                                console.log(mp_3);
                                // {% for cita in citas %}
                                if(mp_3 == '{{forloop.counter}}'){
                                    if(["E","P"].indexOf(("{{cita.estado}}")) !== -1){
                                        hablar("Descargando comprobante de cita en formato MP3.");
                                        reporte = true;
                                        document.getElementById('mp3_{{cita.pk}}').click();
                                    } else
                                        hablar("La cita especificada no permite la descarga de su comprobante.");
                                    break;
                                }
                                // {% endfor %}

                                hablar(`No hay citas con el número ${mp_3}.`);
                                break;
                            // {% endif %}
                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                        }
                      }    
                   });

                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }

                   if(dictando && speech.indexOf("dictado") == -1)
                        document.getElementById('busqueda').value += " " + speech.toLowerCase().replace(/\.$/g, "");
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de consulta de citas. Usted tiene {{citas.count}} citas. {% if citas.count %}Diga "leer cita" seguido del número de cita para obtener una lectura de la misma.{%endif%}');
                
               utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }
        
        if(localStorage.getItem('comandos') == '1')
            bienvenida();

        recognition.start();
        recognition.addEventListener('end', () => !speaking ? recognition.start() : console.log("a"));

        document.addEventListener("keydown", function(event) {
            if (event.altKey && event.code === "KeyX"){ // Parar hablar
                synthesis.cancel();
                speaking = false;
                recognition.start();
            } else if(event.altKey && event.code === "KeyC"){
                synthesis.cancel();
                speaking = false;
                if(localStorage.getItem('comandos') == '1'){
                    localStorage.setItem('comandos', 0);
                    hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                } else if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos'))){
                    bienvenida();
                    localStorage.setItem("comandos", 1);
                }
            }
        });
    </script>
</head>
<body>
    {% include 'nav.html' %}
    <div class="containerConsultaCitas">
        <div class="cuadroCita">
    <h3 class="citasTitulo">Consulta de Citas</h3><hr>
    {% for cita in citas %}
        <div class="card">
        <div class="card-body">
    <h5 class="linkPublicacion"><a href="{% url 'detalle_inmueble' pk=cita.inmueble.pk %}">{{cita.inmueble.nombre}}</a></h5>
    <label for="" class="form-label"><b>Fecha:</b> {{cita.fecha_asignada.date}} {{cita.fecha_asignada.hour}}:00</label><br>
    <label for="" class="form-label"><b>Agente:</b> {{cita.inmueble.agente}} (Teléfono: {{cita.inmueble.agente.numero_telefono}})</label><br>
    <label for="" class="form-label"><b>Sector:</b> {{cita.inmueble.sector.nombre}}</label> <br>
    <label for="" class="form-label"><b>Ubicación detallada: </b> {{cita.inmueble.ubicacion_detallada}}</label><br>
    <label for="" class="form-label"><b>Estado de la Cita:</b> {{cita.estado_largo}}</label><br>
    {% if cita.estado == 'F' or cita.estado == 'X' %}
    <label for="" class="form-label"><b>Comentarios del Agente:</b> {{cita.resultados}}</label><br>
    {% elif cita.inmueble %}
    <label for="" class="form-label"><b>Lleve uno de los siguientes comprobantes a la cita:</label></b>
    <div class="contenedorBotones">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{cita.pk}}">
        <button name="tipo" id="pdf_{{cita.pk}}" value="pdf" type="submit" class="btn btn-success">PDF</button>
        <button name="tipo" id="mp3_{{cita.pk}}" value="mp3" type="submit" class="btn btn-success">MP3</button>
    </form>
</div><br>


    {% elif cita.compra %}
    <label for="" class="form-label"><b>Cita de formalidades para la entrega del inmueble {{cita.compra.inmueble.nombre.upper}}</label></b>
    {% endif %}
</div>
</div><br>
    {% empty %}<div class="alert alert-danger" role="alert">
    <label for="" class="form-label">Usted no ha agendado ninguna cita.</label></div>
    {% endfor %}
    
</div>




</div>

</body>
{% include 'footer.html' %}
</html>
