<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrato de Compra del Inmueble "{{inmueble.nombre}}"</title>
    <script>
        const synthesis = window.speechSynthesis;
        let speaking = false, escribiendo = false, dictando = false, reporte = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "leer contrato": "Lee el contrato de nuevo",
            "acepto los términos mencionados": "Este comando acepta el contrato y la compra del inmueble",
            "desactivar comandos de voz": "Desactiva los comandos de voz",
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "ver perfil": "Permite ver sus datos personales",  
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace(/[,.]/g,'').replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                         .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8').replace('menciona2','mencionados')
                         .replace('nueve','9').replace('cero','0').replace(/[rR]egresar\sa[l]*\sinicio/g, "regresar inicio");
                   console.log(speech);

                   if(localStorage.getItem('comandos') == '1')
                   ["ayuda","ver perfil","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                   "cerrar sesión", "leer pantalla", "leer contrato", "yo acepto los términos mencionados",
                    "regresar inicio", "desactivar comandos de voz"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;
                                
                            case "regresar inicio":
                                window.location.replace("/");
                                break;

                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. Estos son los comandos disponibles en esta pantalla: \n" + crear_utterance());
                                }
                                break;
                            
                            // {% if request.user.is_authenticated %}
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "cerrar sesión":
                                document.getElementById('cerrar_sesion').click();
                                break;

                            case "ver perfil":
                                window.location.replace('/usuarios/perfil/');
                                break;
                            // {%endif%}
                                                        
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de contrato de compraventa del inmueble. La pantalla está dividida en las siguientes secciones:
                                    1. Barra de Navegación: Aquí se encuentran las opciones de navegación básicas.
                                    2. Sección de Contrato: Aquí se encuentra el contrato de compraventa del inmueble. Para aceptarlo diga "yo acepto los términos mencionados".
                                    3. Sección de Aceptación: Aquí está el botón de aceptación del contrato. Diga "yo acepto los términos mencionados" para aceptar.
                                `);
                                break;
                            
                            case "leer contrato":
                                hablar(`Contrato de Términos y Condiciones para Compraventa en Línea Inmuebles Incaibo

Este contrato de términos y condiciones (en adelante, "el Contrato") regula la compraventa de un inmueble mediante la aplicación web progresiva de Inmuebles Incaibo, en el marco de las leyes de la República Bolivariana de Venezuela. 
            
Al aceptar este Contrato, el comprador, {{request.user.persona}} ({{request.user.persona.cedula}}), reconoce y acepta las siguientes cláusulas:
            
CLÁUSULA PRIMERA - DESCRIPCIÓN DEL INMUEBLE
            
En el detalle del inmueble ofrecido se ofreció una descripción detallada y precisa del inmueble, incluyendo ubicación, dimensiones, características y condiciones generales. Todas estas características fueron observadas en la cita de visita realizada previamente. El comprador reconoce que ha revisado y comprendido la descripción antes de aceptar la compra.

CLÁUSULA SEGUNDA - PRECIO Y FORMA DE PAGO
            
El precio de venta es el establecido por {{inmueble.precio_texto.upper}} dólares americanos, el cual se encuentra en la publicación del inmueble en la aplicación web de Inmuebles Incaibo. El precio fue estipulado por la inmobiliaria, el vendedor y discutido con el comprador en la cita de visita de manera clara y precisa. El comprador se compromete a pagar dicho precio mediante TRANSFERENCIA BANCARIA al cambio oficial en bolívares digitales a las cuentas de la inmobiliaria, la cual retendrá el IVA y el 5% de comisión de los servicios de venta.
            
CLÁUSULA TERCERA - DOCUMENTOS LEGALES 
            
El vendedor demostró que es el propietario legítimo del inmueble y cuenta con todos los documentos legales necesarios para su venta. El comprador tiene derecho a solicitar y verificar la autenticidad de dichos documentos antes de confirmar la compra en cualquier momento mediante su solicitud vía correo electrónico.
            
CLÁUSULA CUARTA - RESPONSABILIDAD DEL COMPRADOR
            
El comprador se compromete a proporcionar información personal verídica y actualizada durante todo el proceso de compraventa, tal como aparecen sus datos en la plataforma. La compra será cancelada y reversada de detectar alguna incongruencia en los datos del comprador. Además, el comprador asume la responsabilidad de revisar los detalles y condiciones del inmueble antes de realizar la compra, eximiendo de cualquier responsabilidad al vendedor por omisiones o errores en la descripción proporcionada.
            
CLÁUSULA QUINTA - PLAZOS Y ENTREGA DEL INMUEBLE
            
La entrega del inmueble será realizada una vez se pague la totalidad del precio estipulado, en una cita realizada el día hábil más cercano a la fecha del pago final de tal modo que no interfiera con el horario del agente encargado ni del dueño. El vendedor se compromete a entregar el inmueble en las condiciones acordadas y dentro del plazo establecido, salvo casos de fuerza mayor o circunstancias imprevistas debidamente justificadas.
            
CLÁUSULA SEXTA - CANCELACIÓN Y REEMBOLSO 
            
En caso de que el comprador decida cancelar la compraventa antes de la entrega del inmueble, deberá notificarlo primeramente mediante el portal de Inmuebles Incaibo. En tal caso, se realizará la devolución al comprador del monto total o parcial (según sea el caso) pagado como anticipo, descontando únicamente gastos administrativos y/o comisiones acordadas previamente.
            
CLÁUSULA SÉPTIMA - JURISDICCIÓN
            
Para cualquier controversia que surja en relación con este Contrato, las partes se someten a la jurisdicción y competencia de los tribunales venezolanos, renunciando expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderles.
            
Este Contrato de Términos y Condiciones se firma virtualmente de mutuo acuerdo con la finalidad de establecer las condiciones bajo las cuales se llevará a cabo la compraventa en línea del inmueble mencionado. 
El comprador al aceptar este contrato declara haber leído y entendido cada cláusula contenida en este Contrato, y lo acepta en su totalidad.
            
Comprador
Nombre: {{request.user.persona}}
Fecha: {{hoy}}    
Diga "yo acepto los términos mencionados" para aceptar la compraventa.`)
                                break;
                            
                            case "yo acepto los términos mencionados":
                                document.getElementById('aceptar').click();
                                break;
                        }
                      }    
                   });

                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance(`
                Justo ahora está en la pantalla de contrato. Diga "leer contrato" para escucharlo.
                `);
                
               utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }

        recognition.start();
        recognition.addEventListener('end', () => !speaking ? recognition.start() : console.log("a"));
        
        if(localStorage.getItem('comandos') == '1')
            bienvenida();
    </script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <textarea name="cuerpo_contrato" id="Contrato" cols="30" rows="10" disabled>
Contrato de Términos y Condiciones para Compraventa en Línea Inmuebles Incaibo

Este contrato de términos y condiciones (en adelante, "el Contrato") regula la compraventa de un inmueble mediante la aplicación web progresiva de Inmuebles Incaibo, en el marco de las leyes de la República Bolivariana de Venezuela. 
            
Al aceptar este Contrato, el comprador, {{request.user.persona}} ({{request.user.persona.cedula}}), reconoce y acepta las siguientes cláusulas:
            
CLÁUSULA PRIMERA - DESCRIPCIÓN DEL INMUEBLE
            
En el detalle del inmueble ofrecido se ofreció una descripción detallada y precisa del inmueble, incluyendo ubicación, dimensiones, características y condiciones generales. Todas estas características fueron observadas en la cita de visita realizada previamente. El comprador reconoce que ha revisado y comprendido la descripción antes de aceptar la compra.

CLÁUSULA SEGUNDA - PRECIO Y FORMA DE PAGO
            
El precio de venta es el establecido por {{inmueble.precio_texto.upper}} dólares americanos, el cual se encuentra en la publicación del inmueble en la aplicación web de Inmuebles Incaibo. El precio fue estipulado por la inmobiliaria, el vendedor y discutido con el comprador en la cita de visita de manera clara y precisa. El comprador se compromete a pagar dicho precio mediante TRANSFERENCIA BANCARIA al cambio oficial en bolívares digitales a las cuentas de la inmobiliaria, la cual retendrá el IVA y el 5% de comisión de los servicios de venta.
            
CLÁUSULA TERCERA - DOCUMENTOS LEGALES 
            
El vendedor demostró que es el propietario legítimo del inmueble y cuenta con todos los documentos legales necesarios para su venta. El comprador tiene derecho a solicitar y verificar la autenticidad de dichos documentos antes de confirmar la compra en cualquier momento mediante su solicitud vía correo electrónico.
            
CLÁUSULA CUARTA - RESPONSABILIDAD DEL COMPRADOR
            
El comprador se compromete a proporcionar información personal verídica y actualizada durante todo el proceso de compraventa, tal como aparecen sus datos en la plataforma. La compra será cancelada y reversada de detectar alguna incongruencia en los datos del comprador. Además, el comprador asume la responsabilidad de revisar los detalles y condiciones del inmueble antes de realizar la compra, eximiendo de cualquier responsabilidad al vendedor por omisiones o errores en la descripción proporcionada.
            
CLÁUSULA QUINTA - PLAZOS Y ENTREGA DEL INMUEBLE
            
La entrega del inmueble será realizada una vez se pague la totalidad del precio estipulado, en una cita realizada el día hábil más cercano a la fecha del pago final de tal modo que no interfiera con el horario del agente encargado ni del dueño. El vendedor se compromete a entregar el inmueble en las condiciones acordadas y dentro del plazo establecido, salvo casos de fuerza mayor o circunstancias imprevistas debidamente justificadas.
            
CLÁUSULA SEXTA - CANCELACIÓN Y REEMBOLSO 
            
En caso de que el comprador decida cancelar la compraventa antes de la entrega del inmueble, deberá notificarlo primeramente mediante el portal de Inmuebles Incaibo. En tal caso, se realizará la devolución al comprador del monto total o parcial (según sea el caso) pagado como anticipo, descontando únicamente gastos administrativos y/o comisiones acordadas previamente.
            
CLÁUSULA SÉPTIMA - JURISDICCIÓN
            
Para cualquier controversia que surja en relación con este Contrato, las partes se someten a la jurisdicción y competencia de los tribunales venezolanos, renunciando expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderles.
            
Este Contrato de Términos y Condiciones se firma virtualmente de mutuo acuerdo con la finalidad de establecer las condiciones bajo las cuales se llevará a cabo la compraventa en línea del inmueble mencionado. 
El comprador al aceptar este contrato declara haber leído y entendido cada cláusula contenida en este Contrato, y lo acepta en su totalidad.
            
Comprador
Nombre: {{request.user.persona}}
Fecha: {{hoy}}</textarea>
        <button type="submit" id="aceptar">
            YO, {{request.user.persona}}, TITULAR DE LA CÉDULA {{request.user.persona.cedula}}, ME COMPROMETO A SEGUIR LOS LINEAMIENTOS ESTABLECIDOS EN ESTE CONTRATO PARA LA COMPRA DE ESTE INMUEBLE.
        </button>
    </form>
</body>
</html>