<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contrato de Compra del Inmueble "{{inmueble.nombre}}"</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <textarea name="cuerpo_contrato" id="Contrato" cols="30" rows="10" disabled>
            Texto del Contrato de Compra
            Inmueble: {{inmueble.nombre}}
        </textarea>
        <button type="submit">
            YO, {{request.user.persona}}, TITULAR DE LA CÉDULA {{request.user.cedula}}, ME COMPROMETO A SEGUIR LOS LINEAMIENTOS ESTABLECIDOS EN ESTE CONTRATO PARA LA COMPRA DE ESTE INMUEBLE.
        </button>
    </form>
</body>
</html>