<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACIÓN - {{inmueble.nombre.upper}}</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="busqueda" value="{{busqueda}}">
        <input type="submit" value="Buscar">
    </form>
    
    <h2>{{inmueble.nombre.upper}}</h2>
    <h3>${{inmueble.precio}}</h3>
    "{{inmueble.descripcion}}"
    <ul>
        <li><b>Año de Construcción: </b> {{inmueble.ano_construccion}}</li>
        <li><b>Tipo de Construcción: </b> {{inmueble.tipo_construccion}}</li>
        <li><b>Tamaño: </b> {{inmueble.tamano}}</li>
        <li><b>Número de Habitaciones: </b> {{inmueble.habitaciones}}</li>
        <li><b>Número de Baños: </b> {{inmueble.banos}}</li>
        <li><b>Parroquia: </b> {{inmueble.sector.parroquia.nombre}}</li>
        <li><b>Sector: </b> {{inmueble.sector.nombre}}</li>
        <li><b>Ubicación Detallada: </b> {{inmueble.ubicacion_detallada}}</li>
        <li><b>Fecha de Publicación: </b> {{inmueble.fecha_creacion}}</li>
        <li><b>Amueblado: </b> {{inmueble.amueblado|yesno:"Sí,No"}}</li>
        <li><b>Estacionamiento: </b> {{inmueble.tiene_estacionamiento|yesno:"Sí,No"}}</li>
        {% if request.user.is_authenticated %}
            {% if puede_cita %}
            <li><a href="{% url 'seleccionar_dia_cita' pk=inmueble.pk %}">Agendar Cita para Visitar el Inmueble</a></li>
            {% else %}
            <li><b>¡Ha agendado una cita para visitar el inmueble!</b></li>
            {% endif %}
            {% if puede_comprar %}
            <li><a href="{% url 'comprar_inmueble' pk=inmueble.pk %}">Comprar</a></li>
            {% else %}
            <li><b>¡Debe agendar y asistir a una cita para ver el inmueble para poder comprar!</b></li>
            {% endif %}
        {% else %}
        <li><b>Si quieres visitar este inmueble o comprarlo, inicia sesión.</b></li>
        {% endif %}
    </ul>
</body>
</html>