{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBLICACIÓN - {{inmueble.nombre.upper}}</title>
    <link rel="stylesheet" href="{% static 'estilos/resultados/detallesInmueble.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    
    <script>
        const synthesis = window.speechSynthesis;
        let speaking = false, escribiendo = false, dictando = false, reporte = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "buscar inmueble": "Permitirá buscar un inmueble.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "leer detalles": "Lee los detalles del inmueble",
            "descargar pdf": "Descarga el reporte PDF de la publicación",
            "descargar mp3": "Descarga el reporte MP3 de la publicación",
            "desactivar comandos de voz": "Desactiva los comandos de voz",
            // {% if not request.user.is_authenticated %}
            "iniciar sesión": "Lleva a la pantalla de inicio de sesión.",
            "registrarse": "Lleva a la pantalla de inicio de registro.",
            // {% else %}
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "ver perfil": "Permite ver sus datos personales",
            // {% endif %}
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace("lista","listo").replaceAll(/[eE]stabisque/g, "stavisky").replaceAll(/[eE]stabinski/g, "stavisky").replaceAll(/[eE]st[aá] bizki/g, "stavisky")
                   .replaceAll(/[eE]stabiqui/g, "stavisky").replaceAll(/[Ee]stabinsky/g, "stavisky").replaceAll(/[sS]tabisky/g, "stavisky").replace("lista","listo").replaceAll(/[eE]stabisque/g, "stavisky").replaceAll(/[eE]stabinski/g, "stavisky").replaceAll(/[eE]st[aá] bizki/g, "stavisky")
                   .replaceAll(/[eE]stabiqui/g, "stavisky").replaceAll(/[Ee]stabinsky/g, "stavisky").replaceAll(/[sS]tabisky/g, "stavisky").replace(/regresar\sa[l]*\sinicio/g, "regresar inicio")
                   .replaceAll("en mueble", "inmueble").replaceAll("/4", " cuartos");
                   console.log(speech);

                   if(localStorage.getItem('comandos') == '1')
                   ["ayuda","iniciar sesión","resultado","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                   "descargar mp3", "descargar mp 3", "descargar pdf", "iniciar sesión", "registrarse", 
                   /* {% if puede_cita and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %} */ "agendar cita", /* {% endif %} */ /* {% if puede_comprar and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %} */ "yo quiero comprar este inmueble", /* {% endif %} */ 
                   "buscar inmueble", "leer detalles", "cerrar sesión", "leer pantalla", "dictado", "salir", "listo","continuar", "editar",
                    "regresar inicio","desactivar comandos de voz", "ver perfil"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;

                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                                
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            // {% if request.user.is_authenticated %}
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "cerrar sesión":
                                document.getElementById('cerrar_sesion').click();
                                break;

                            case "ver perfil":
                                window.location.replace('/usuarios/perfil/');
                                break;
                            // {% else %}
                            case "iniciar sesión":
                                location.replace("/usuarios/login/");
                                break;

                            case "registrarse":
                                location.replace("{% url 'registro' %}");
                                break;
                            // {%endif%}
                            
                            case "buscar inmueble":
                                hablar("Escriba la descripción del inmueble que desea. Diga dictado para dictarla. Diga salir para no buscar. Diga listo una vez haya finalizado.");
                                escribiendo = true;
                                const input = document.getElementById('busqueda');
                                input.value = "";
                                input.focus();
                                campo = 1;

                                break;

                            case "dictado":
                                if(campo === 1){
                                    hablar("Deletree o dicte la descripción del inmueble que busca");
                                    dictando = true;
                                }
                                
                                break;
                            
                            case "salir":
                                if(campo === 1){
                                    hablar("Saliendo del formulario.");
                                    dictando = false;
                                    escribiendo = false;
                                    campo = 0;
                                }
                                break;

                           case "listo":
                                dictando = false;
                                if(!escribiendo)
                                    break;
                                
                                if(document.getElementById('busqueda').value == ''){
                                    hablar("El campo de búsqueda no puede estar vacío. Vuelva a escribir o dictarlo.");
                                    break;
                                }
                                document.getElementById('busqueda').value = document.getElementById('busqueda').value.trim().replace(/\s+/g,' ');
                                hablar(`Usted ha escrito: ${document.getElementById('busqueda').value}. Diga "continuar" para buscar inmuebles, o diga "editar" para editar.`);
                                campo = 2;
                                break;
                                campo = 2;
                                dictando = false;
                                break;
                            
                            case "continuar":
                                if(campo === 2){
                                    escribiendo = true;
                                    if(document.getElementById('busqueda').value == ''){
                                        hablar("El campo de búsqueda no puede estar vacío. Vuelva a escribir o dictarlo.");
                                        break;
                                    }
                                    document.getElementById('form_busqueda').submit();
                                }
                                break;                                    document.getElementById('form_busqueda').submit();
                                break;
                            
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de detalles del inmueble {{inmueble.nombre}}, la cual se encuentra integrada por las siguientes secciones:
                                1. Barra de Navegación: Aquí se encuentran las opciones básicas de navegación por el sistema.
                                2. Sección de Búsqueda: Aquí se encuentra la barra de búsqueda para inmuebles.
                                3. Sección de Detalles: Aquí se encuentran los detalles del inmueble. Puede decir "leer detalles" para escuchar el contenido de la sección.
                                `);
                                break;
                            
                            case "leer detalles":
                                hablar(`La publicación del inmueble se llama '{{inmueble.nombre}}'. Tiene un costo de {{inmueble.precio_texto}} dólares.
                                    Fue construido en el año {{inmueble.ano_construccion}}. Es del tipo {{inmueble.tipo_construccion}}. 
                                    Tiene un área de {{inmueble.tamano_texto}} metros cuadrados. Tiene {{inmueble.habitaciones}} habitaciones. Tiene {{inmueble.banos}} baños.
                                    Se encuentra en el sector {{inmueble.sector.nombre}} de la parroquia {{inmueble.sector.parroquia.nombre}}, Maracaibo.
                                    en la siguiente ubicación detallada: {{inmueble.ubicacion_detallada}}. {% if inmueble.amueblado %} Está {% else %} No está {% endif %} amoblado.
                                    Consta de {{inmueble.pisos}} pisos. Tiene {{inmueble.estacionamientos}} puestos de estacionamiento. 
                                    Cuenta con los servicios: {{inmueble.servicios}}.
                                    Se describe de la siguiente forma: {{inmueble.descripcion}}.
                                    `);
                                break;
                            
                            case "editar":
                                if(campo === 2 && !escribiendo){
                                    campo = 1;
                                    document.getElementById('busqueda').value = "";
                                    document.getElementById('busqueda').focus();
                                }
                                break;
                            
                            case "descargar pdf":
                                reporte = true;
                                document.getElementById('pdf').click();
                                hablar("Descargando reporte PDF.");
                                break;
                            
                            case "descargar mp3":
                                reporte = true;
                                document.getElementById('mp3').click();
                                hablar("Descargando reporte MP3.");
                                break;
                            
                            case "descargar mp 3":
                                reporte = true;
                                document.getElementById('mp3').click();
                                hablar("Descargando reporte MP3.");
                                break;
                        
                            // {% if puede_cita and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %}
                            case "agendar cita":
                                document.getElementById('agendar').click();
                                break;
                            // {% endif %}

                            // {% if puede_comprar and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %}
                            case "yo quiero comprar este inmueble":
                                document.getElementById("comprar").click();
                                break;
                            // {% endif %}
                        }
                      }    
                   });

                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }

                   if(dictando && !speaking && speech.indexOf("dictado") == -1)
                        document.getElementById('busqueda').value += " " + speech.toLowerCase().replace(/\.$/g, "");
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla del detalle del inmueble "{{inmueble.nombre}}", de {{inmueble.precio_texto}} dólares.' 
                    + 'Diga "leer detalles" para escuchar los detalles del inmueble. {% if puede_cita and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %} Puede agendar una cita diciendo "agendar cita". {% endif %}.'
                    + '{% if puede_comprar and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %} Puede tramitar la compra del inmueble diciendo "yo quiero comprar este inmueble". {% elif request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %} Para poder tramitar una compra, deberá agendar una cita de visita y recibir un visto bueno primero. {% else %} Este inmueble es de su propiedad. Puede consultar su estado en la consulta de inmuebles. {% endif %}');
                
               utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }

        recognition.start();
        recognition.addEventListener('end', () => !speaking ? recognition.start() : console.log("a"));

        document.addEventListener("keydown", function(event) {
            if (event.altKey && event.code === "KeyX"){ // Parar hablar
                synthesis.cancel();
                speaking = false;
                recognition.start();
            } else if(event.altKey && event.code === "KeyC"){
                synthesis.cancel();
                speaking = false;
                if(localStorage.getItem('comandos') == '1'){
                    localStorage.setItem('comandos', 0);
                    hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                } else if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos'))){
                    bienvenida();
                    localStorage.setItem("comandos", 1);
                }
            }
        });
        
        if(localStorage.getItem('comandos') == '1')
            bienvenida();
    </script>
</head>
<body>
    {% include 'nav.html' %}
        
        {% csrf_token %}
        <a href="{% url 'resultados' %}" id="botonVolver">
    
        <-Volver a la pagina de resultados</a>

                {% for imagen in inmueble.imagenes %}
        <img class="imageCarousel"  src="{{imagen}}"/>
    {% endfor %}

    <h1 class="tituloCasa">{{inmueble.nombre.upper}}</h1>
    <h1 class="precioTitulo">${{inmueble.precio}}</h1>
    
    

    <ul class="listaCaracteristicas">
        <li><b><i class='bx bxs-institution'></i>Año de Construcción: </b> {{inmueble.ano_construccion}}</li>
        <li><b><i class='bx bx-building'></i>Tipo de Construcción: </b> {{inmueble.tipo_construccion}}</li>
        <li><b><i class='bx bxs-hard-hat' ></i>Tamaño: </b> {{inmueble.tamano}}</li>
        <li><b><i class='bx bx-bed' ></i>Número de Habitaciones: </b> {{inmueble.habitaciones}}</li>
        <li><b><i class='bx bx-bath' ></i>Número de Baños: </b> {{inmueble.banos}}</li>
        <li><b><i class='bx bxs-city' ></i>Parroquia: </b> {{inmueble.sector.parroquia.nombre}}</li>
        <li><b><i class='bx bx-directions'></i></box-icon>Sector: </b> {{inmueble.sector.nombre}}</li>
        <li><b><i class='bx bx-location-plus' ></i>Ubicación Detallada: </b> {{inmueble.ubicacion_detallada}}</li>
        <li><b><i class='bx bx-hotel'></i>Amueblado: </b> {{inmueble.amueblado|yesno:"Sí,No"}}</li>
        <li><b>Número de pisos: </b>{{inmueble.estacionamientos}}</li>
        <li><b><i class='bx bxs-car-garage' ></i></i>Puestos de Estacionamiento: </b> {{inmueble.estacionamientos}}</li>
        <li><b><i class='bx bx-droplet'></i>Servicios: </b> {{inmueble.servicios}}</li>
        {% if request.user.is_authenticated and request.user.persona.pk != inmueble.dueno.pk and request.user.persona.pk != inmueble.agente.pk %}
        <li><b><i class='bx bx-spreadsheet'></i>Descripción:</b> {{inmueble.descripcion}}</li><br>
    </ul>
        {% if puede_cita %}
        <div class="alert alert-warning" role="alert">
            <a id="agendar" href="{% url 'seleccionar_dia_cita' pk=inmueble.pk %}" class="alert-link">Agendar Cita para Visitar el Inmueble</a></div>
            {% else %}
            <div class="alert alert-warning" role="alert">
            ¡Ha agendado una cita para visitar el inmueble!</div>
            {% endif %}
            {% if puede_comprar %}
            <div class="alert alert-warning" role="alert">
            <a id="comprar" href="{% url 'comprar_inmueble' pk=inmueble.pk %}" class="alert-link">Comprar</a>
            </div>{% else %}
            <div class="alert alert-danger" role="alert">
            ¡Debe agendar y asistir a una cita para ver el inmueble para poder comprar!</div>
            {% endif %}
        {% elif request.user.persona.pk == inmueble.dueno.pk %}
        <div class="alert alert-warning" role="alert">
            Este inmueble es de su propiedad. Para cambiar sus opciones haga click <a href="{% url 'consultar_publicaciones' %}" class="alert-link">aquí</a></div>
        {% elif not request.user.is_authenticated %}
        <div class="alert alert-danger" role="alert">
            Si quieres visitar este inmueble o comprarlo, inicia sesión.</div>
        {% endif %}
    </ul>
    <form method="post" class="grupoBotones">
            {% csrf_token %}
            <button id="pdf" type="submit" name="tipo" value="pdf" class="botonIcon"><i class="bi bi-filetype-pdf"></i></button>
            <button id="mp3" type="submit" name="tipo" value="mp3" class="botonIcon"><i class="bi bi-filetype-mp3"></i></button>
        </form>
</body>
{% include 'footer.html' %}
</html>