<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de Inmueble</title>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script>
        const synthesis = window.speechSynthesis;
        const campos = [
            ['Nombre del Inmueble', 'nombre', ''], 
            ['Parroquia', 'parroquia', 'Parroquia donde se encuentra el inmueble. Diga opciones para escuchar las opciones.'],
            ['Sector', 'sector', 'Sector donde se encuentra el inmueble. Diga opciones para escuchar las opciones.'],
            ['Tipo de Construcción', 'tipo_construccion', 'Tipo de construcción. Diga opciones para escuchar las opciones.'],
            ['Ubicación detallada', 'ubicacion_detallada', 'Ingrese la ubicación detallada. Diga dictado para dictarla.'],
            ['Año de Construcción', 'ano', 'Ingrese el año de construcción del inmueble. Diga dictado para dictar.'],
            ['Tamaño', 'tamano', 'Ingrese el tamaño en metros cuadrados. Diga dictado para dictar.'],
            ['Número de Habitaciones', 'habitaciones', 'Ingrese el número de habitaciones. Diga dictado para dictar.'],
            ['Número de baños', 'banos', 'Ingrese el número de baños. Diga dictado para dictar.'],
            ['Descripción', 'descripcion', 'Ingrese la descripción de la publicación. La descripción podrá ser cambiada por el agente. Diga dictado para dictar.'],
            ['Precio', 'precio', 'Ingrese el precio en dólares del inmueble. Diga dictado para dictar.'],
            ['¿Está amueblado?', 'amueblado', 'Responda a la pregunta con "sí" o "no".'],
            ['¿Tiene estacionamiento?', 'estacionamiento', 'Responda a la pregunta con "sí" o "no".']
        ];
        let speaking = true, escribiendo = false, dictando = false, campo = 0;
        let sectores_actuales = [];
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "crear inmueble": "Inicia el formulario de creación de inmueble."
        };

        //TODO lógica del formulario
        function formulario_p1(event){
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript;
                   console.log(speech);
                    
                    if(campo === 0){
                        speech = speech.toLowerCase().replace("uno", "1").replace("dos", "2");
                    }

                    ["dictado", "teclado", "salir", "continuar", "editar", "opciones", "listo", "1", "2","sí","no"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                                case "salir":
                                    hablar("Usted ha dicho salir. Saliendo del formulario.");
                                    dictando = false;
                                    recognition.onresult = inicial;
                                break;

                                case "dictado":
                                    if([0,4,5,6,7,8,9,10].indexOf(campo) !== -1 && !dictando){
                                        hablar(`Usted ha dicho dictado. Deletree o dicte con claridad el ${campos[campo][0]}.`);

                                        escribiendo = true;
                                        dictando = true;
                                    }
                                    break;
                                
                                case "teclado":
                                    hablar(`Usted ha dicho teclado. Escriba su ${campos[campo][0]} y diga 'listo' al terminar.`);
                                    escribiendo = true;
                                    const input = document.getElementById('id_username');
                                    input.focus();
                                    break;

                                case "continuar":
                                    if(!escribiendo || campo === 1 || campo === 2 || campo == 3 || campo == 11 || campo == 12){
                                        campo++;
                                        if(campo < campos.length){
                                            const input2 = document.getElementById(campos[campo][1]);
                                            input2.focus();
                                            hablar(`Campo #${campo+1}: ${campos[campo][0]}. ${campos[campo][2]}. Diga listo una vez la haya ingresado.`);
                                            escribiendo = true;
                                        } else{
                                            campo = 0;
                                            $('form').submit();
                                        }
                                    }
                                    break;
                                
                                case "opciones":
                                    if(campo === 1){
                                        // {% for parroquia in parroquias %}
                                        hablar("Diga {{forloop.counter}} para " +'{{parroquia.nombre}}');
                                        // {% endfor %} 
                                    } else if(campo === 2){
                                        for(let i = 1; i <= sectores_actuales.length; i++)
                                            hablar(`Diga ${i} para ${sectores_actuales[i-1].nombre}`);
                                    } else if(campo === 3){
                                        // {% for construccion in construcciones %}
                                        hablar("Diga {{forloop.counter}} para " +'{{construccion}}');
                                        // {% endfor %}
                                    }
                                    break;

                                case "editar":
                                    if(campo >= 0){
                                        hablar(`Usted ha dicho 'editar'. Vuelva a escribir su ${campos[campo][0]}.`)
                                        $(`#${campos[campo][1]}`).val("");
                                        const input2 = document.getElementById(campos[campo][1]);
                                        input2.focus();
                                        escribiendo = true;
                                    }                               
                                    break;

                                case "listo":
                                    hablar("Usted ha escrito: " + $('#'+campos[campo][1]).val() + " Diga 'editar' para editar o 'continuar' para seguir con el siguiente campo.")
                                    escribiendo = false;
                                    dictando = false;
                                    break;
                                
                                case "1":
                                    if(campo === 0){
                                        hablar("Usted ha seleccionado la opción 'venezolano'. Si quiso decir extranjero, diga 2. Si quiere continuar, diga continuar.");
                                        $('#tipo').val("V");                                
                                    }
                                    break;
                                
                                case "2":
                                    if(campo === 0){
                                        hablar("Usted ha seleccionado la opción 'extranjero'. Si quiso decir venezolano, diga 1. Diga listo para continuar.");
                                        $('#tipo').val("E");
                                    }
                                    break; 
                                
                                case "sí":
                                    if(campo === 11){
                                        $('#amueblado').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble está amueblado. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 12){
                                        $('#estacionamiento').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble tiene estacionamiento. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    }
                                    break;
                                
                                case "no":
                                    if(campo === 11){
                                        $('#amueblado').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble no está amueblado. Diga no para cambiar esta opción. Diga continuar para terminar el formulario.")
                                    } else if(campo === 12){
                                        $('#estacionamiento').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble no tiene estacionamiento. Diga no para cambiar esta opción. Diga continuar para terminar el formulario.")
                                    }
                                    break;
                            }
                        }
                    });

                    console.log(dictando);
                    console.log(campo)

                    if(dictando && (campo === 1 || campo === 5)){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                         .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                         .replace('nueve','9').replace('cero','0').replace('e','').replace('.','').replace(",","").replace(" ","");
                        
                        if(!isNaN(speech)) // Esto verifica que el string sea numérico
                            $('#'+campos[campo][1]).val($('#'+campos[campo][1]).val() + speech)

                    } else if(dictando && (campo === 4 || campo === 9)){
                        $(`#${campos[campo][1]}`).val($(`#${campos[campo][1]}`).val() + " " + speech.replace(".",""))
                    }
                    else if(dictando && (campo === 5 || campo === 6 || campo === 7 || campo === 8)){
                        if(/[0-9]+/.test(speech.replaceAll(" ", "")))
                            $(`#${campos[campo][1]}`).val($(`#${campos[campo][1]}`).val() + speech.replaceAll(" ", "").replaceAll(/\D+/g, ""));
                    }                        
                    else if(dictando && campo === 7){
                        if(speech.toLowerCase().indexOf("dictado") === -1)
                            $('#email').val( $('#email').val() + speech.toLowerCase().replace('arroba', '@').replace(".","").replace("punto", ".").replace("Listo.","").replace("salir","").replace(" ", ""));
                    }
                    else if(dictando && campo === 10){
                        if(speech.indexOf("Dictado") === -1)
                            $('#'+campos[campo][1]).val(speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                         .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                         .replace('nueve','9').replace('cero','0').replace("punto",".").replace("coma",",")
                         .replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑ]+/g,'').replace(",",".").replaceAll(" ", ""));
                    }

                    if(campo === 1 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑ]+/g,'').replace('.','').replace(",","");
                        
                        // {% for parroquia in parroquias %}

                        if({{forloop.counter}} === Number(speech)){
                            $('#parroquia').val("{{parroquia.id}}");
                            $('#parroquia').change();
                            hablar("Usted ha dicho {{forloop.counter}}. Se ha escogido " + '{{parroquia.nombre}} Diga continuar para continuar, o diga opciones para escuchar todas las opciones.')
                        }

                        // {% endfor %}
                    } else if(campo === 2 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑ]+/g,'').replace('.','').replace(",","");
                        
                        for(let i = 1; i <= sectores_actuales.length; i++){
                            if(i === Number(speech)){
                                $('#sector').val(`${sectores_actuales[i-1].id}`);
                                hablar(`Usted ha dicho ${i}. Se ha escogido ` + `${sectores_actuales[i-1].nombre}. Diga continuar para continuar, o diga opciones para escuchar todas las opciones.`)
                            }
                        }
                    } else if(campo === 3 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑ]+/g,'').replace('.','').replace(",","");
                        
                        // {% for construccion in construcciones %}

                        if({{forloop.counter}} === Number(speech)){
                            $('#tipo_construccion').val("{{forloop.counter}}");
                            hablar("Usted ha dicho {{forloop.counter}}. Se ha escogido " + '{{construccion}} Diga continuar para continuar, o diga opciones para escuchar todas las opciones.')
                        }

                        // {% endfor %}
                    }
                }
            }
        }

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript;
                   console.log(speech);
                   Object.keys(comandos).forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                            break;
                            
                            case "crear inmueble":
                                hablar("Usted ha dicho crear inmueble. Diga 'salir' para salir del formulario. Formulario:");
                                hablar("Campo #1: Nombre del Inmueble. Diga dictado para dictar.");
                                
                                recognition.onresult = formulario_p1;
                                break;
                        }
                      }    
                   });
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            console.log(event);
        }

        async function bienvenida(tipo = 0){
            if ('speechSynthesis' in window) {
                var utterance = undefined;
                
                if(tipo === 0)
                    utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de creación de inmueble. Diga "ayuda" para obtener los comandos que puede utilizar en esta pantalla.');
                else
                    utterance = new SpeechSynthesisUtterance('El formulario que envió contiene errores: {% for error in errores %}{{forloop.counter}}: {{error}}. {% endfor %}.');
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onend = () => {speaking = false};
                synthesis.speak(utterance);
                recognition.start();
                recognition.addEventListener('end', recognition.start);
            }
        }

        async function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onend = () => {speaking = false};
                synthesis.speak(utterance);
            }
        }

        if({{errores|length}} === 0)
            bienvenida();
        else
            bienvenida(1);

        $(document).on('change', '#parroquia', () => {
            $('#sector').empty();
            let opciones = $.ajax(`sectores/${$('#parroquia').val()}`, {
                async: false,
                success: ({res}) => {
                    for(let i = 1; i <= res.length; i++)
                       $('#sector').append(`<option value="${i}">${res[i-1].nombre}</option>`)

                    sectores_actuales = res;
                }
            });
        });
    </script>
</head>

<body>
    <h2>Formulario de Inmueble</h2>
    <form method="post">
        {% csrf_token %}
        <label for="nombre">Nombre del Inmueble:</label>
        <input type="text" name="nombre" id="nombre"> <br>

        <label for="parroquia">Parroquia:</label>
        <select name="parroquia" id="parroquia">
            {% for parroquia in parroquias %}
            <option value="{{parroquia.id}}">{{parroquia.nombre}}</option>
            {% endfor %}
        </select><br>

        <label for="sector">Sector:</label>
        <select name="sector" id="sector">
            <option value="La Concepción">La Concepción</option>
        </select><br>

        <label for="tipo_construccion">Tipo de Construcción:</label>
        <select name="tipo_construccion" id="tipo_construccion">
            {% for construccion in construcciones %}
            <option value="{{forloop.counter}}">{{construccion}}</option>
            {% endfor %}
        </select><br>

        <label for="ubicacion_detallada">Ubicación Detallada:</label>
        <textarea name="ubicacion_detallada" id="ubicacion_detallada" cols="30" rows="10"></textarea><br>

        <label for="ano">Año de Construcción:</label>
        <input type="number" name="ano" id="ano"><br>

        <label for="tamano">Tamaño (en metros cuadrados):</label>
        <input type="number" name="tamano" id="tamano" step=".01"><br>

        <label for="habitaciones">Número de Habitaciones:</label>
        <input type="number" name="habitaciones" id="habitaciones"><br>

        <label for="banos">Número de Baños:</label>
        <input type="number" name="banos" id="banos"><br>

        <label for="descripcion">Descripción (será editada para optimizarse para personas con discapacidad visual):</label>
        <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea><br>

        <label for="precio">Precio (Dólares):</label>
        <input type="number" name="precio" id="precio"><br>

        <hr>
        <h4>Características Extra</h4>

        <label for="amueblado">Está amueblado:</label>
        <input type="checkbox" name="amueblado" id="amueblado"><br>

        <label for="estacionamiento">Puestos de Estacionamiento:</label>
        <input type="number" min="0" value="0" required name="estacionamiento" id="estacionamiento"><br>

        <label for="pisos">Número de Pisos:</label>
        <input type="number" min="1" value="1" required name="pisos" id="pisos"><br>

        <hr>
        <h4>Servicios</h4>
        <label for="agua">Servicio de agua:</label>
        <input type="checkbox" name="agua" id="agua"><br>
        <label for="electricidad">Servicio de electricidad:</label>
        <input type="checkbox" name="electricidad" id="electricidad"><br>
        <label for="gas">Servicio de gas:</label>
        <input type="checkbox" name="gas" id="gas"><br>
        <label for="aseo">Servicio de aseo:</label>
        <input type="checkbox" name="aseo" id="aseo"><br>
        <label for="internet">Servicio de Internet:</label>
        <input type="checkbox" name="internet" id="internet"><br>

        <input type="submit" value="Enviar Formulario">
    </form>
</body>
</html>