{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de Inmueble</title>
    <link rel="stylesheet" href="{% static 'estilos/inmuebles/formInmuebles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script>
        const synthesis = window.speechSynthesis;
        const campos = [
            ['Nombre del Inmueble', 'nombre', ''], 
            ['Parroquia', 'parroquia', 'Parroquia donde se encuentra el inmueble. Diga opciones para escuchar las opciones.'],
            ['Sector', 'sector', 'Sector donde se encuentra el inmueble. Diga opciones para escuchar las opciones.'],
            ['Tipo de Construcción', 'tipo_construccion', 'Tipo de construcción. Diga opciones para escuchar las opciones.'],
            ['Ubicación detallada', 'ubicacion_detallada', 'Ingrese la ubicación detallada. Diga dictado para dictarla.'],
            ['Año de Construcción', 'ano', 'Ingrese el año de construcción del inmueble. Diga dictado para dictar.'],
            ['Tamaño', 'tamano', 'Ingrese el tamaño en metros cuadrados. Diga dictado para dictar.'],
            ['Número de Habitaciones', 'habitaciones', 'Ingrese el número de habitaciones. Diga dictado para dictar.'],
            ['Número de baños', 'banos', 'Ingrese el número de baños. Diga dictado para dictar.'],
            ['Descripción', 'descripcion', 'Ingrese la descripción de la publicación. La descripción podrá ser cambiada por el agente. Diga dictado para dictar.'],
            ['Precio', 'precio', 'Ingrese el precio en dólares del inmueble. Diga dictado para dictar.'],
            ['¿Está amueblado?', 'amueblado', 'Responda a la pregunta con "sí" o "no".'],
            ['Puestos de estacionamiento', 'estacionamiento', 'Ingrese la cantidad de puestos de estacionamiento. Diga dictado para dictar.'],
            ['Número de Pisos', 'pisos', 'Ingrese la cantidad de pisos del inmueble. Diga dictado para dictar.'],
            ['¿Tiene servicio de agua?', 'agua', 'Responda a la pregunta con "sí" o "no".'],
            ['¿Tiene servicio de electricidad?', 'electricidad', 'Responda a la pregunta con "sí" o "no".'],
            ['¿Tiene servicio de gas?', 'gas', 'Responda a la pregunta con "sí" o "no".'],
            ['¿Tiene servicio de aseo?', 'aseo', 'Responda a la pregunta con "sí" o "no".'],
            ['¿Tiene servicio de internet?', 'internet', 'Responda a la pregunta con "sí" o "no".'],
        ];
        let speaking = false, escribiendo = false, dictando = false, campo = 0;
        let sectores_actuales = [];
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];

        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "crear inmueble": "Inicia el formulario de creación de inmueble.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "ver perfil": "Permite ver sus datos personales",  
            "desactivar comandos de voz": "Desactiva los comandos de voz"
        };

        function formulario_p1(event){
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal && !speaking){
                   speech = event.results[i][0].transcript.replace("lista","listo").replace("Lista","listo").replaceAll("m2","");
                   speech = speech
                   console.log(speech);
                    
                    if(campo === 0)
                        speech = speech.toLowerCase().replace("uno", "1").replace("dos", "2");

                    ["dictado", "salir", "continuar", "editar", "opciones", "listo", "sí","no"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                                case "salir":
                                    campo = 0;
                                    hablar("Usted ha dicho salir. Saliendo del formulario.");
                                    dictando = false;
                                    recognition.onresult = inicial;
                                break;

                                case "dictado":
                                    if([0,4,5,6,7,8,9,10,12,13].indexOf(campo) !== -1 && !dictando){
                                        hablar(`Usted ha dicho dictado. Deletree o dicte con claridad el ${campos[campo][0]}.`);

                                        escribiendo = true;
                                        dictando = true;
                                    }
                                    break;

                                case "continuar":
                                    if(!escribiendo || campo === 1 || campo === 2 || campo == 3 || campo == 11 || campo >= 14){
                                        campo++;
                                        if(campo < campos.length){
                                            const input2 = document.getElementById(campos[campo][1]);
                                            input2.focus();

                                            let texto = campo >= 1 && campo <= 3 ? ($('#'+campos[campo][1]).val() !== '' ? "Actualmente el valor del campo es: " + $('#'+campos[campo][1]+' option:selected').text() + ". Si quiere editarlo elija otra opción." : "Diga listo una vez la haya ingresado.")
                                            : campo !== 11 && campo < 14 ? ($('#'+campos[campo][1]).val() !== '' ? "Actualmente el valor del campo es: " + $('#'+campos[campo][1]).val() + ". Si quiere editarlo, diga listo y luego editar." : "Diga listo una vez la haya ingresado.") : "";
                                            hablar(`Campo #${campo+1}: ${campos[campo][0]}. ${campos[campo][2]}. ${texto}`);
                                            
                                            escribiendo = true;
                                        } else{
                                            campo = 0;
                                            $('form').submit();
                                        }
                                    }
                                    break;
                                
                                case "opciones":
                                    if(campo === 1)
                                        hablar("{% for parroquia in parroquias %}Diga {{forloop.counter}} para '{{parroquia.nombre}}'. {% endfor %}");
                                    else if(campo === 2){
                                        let text = "";
                                        for(let i = 1; i <= sectores_actuales.length; i++)
                                            text += `Diga ${i} para ${sectores_actuales[i-1].nombre}`;

                                        hablar(text);
                                    } else if(campo === 3)
                                        hablar("{% for construccion in construcciones %}Diga {{forloop.counter}} para '{{construccion}}'. {% endfor %}");
                                    break;

                                case "editar":
                                    if(campo >= 0 && !escribiendo){
                                        hablar(`Usted ha dicho 'editar'. Vuelva a escribir su ${campos[campo][0]}.`)
                                        $(`#${campos[campo][1]}`).val("");
                                        const input2 = document.getElementById(campos[campo][1]);
                                        input2.focus();
                                        escribiendo = true;
                                    }                               
                                    break;

                                case "listo":
                                    dictando = false;
                                    let id = `#${campos[campo][1]}`;
                                    if((campo >= 0 && campo <= 13 && campo != 11) && $(id).val() === ''){
                                        hablar("El campo no puede estar vacío. Diga dictado para dictar, o escriba el " + campos[campo][0] + " del inmueble.")
                                        break;
                                    }

                                    if(campo >= 5){
                                        if(campo === 5 && $(`#${campos[campo][1]}`).val() > 2023){
                                            hablar("El año de construcción no puede ser mayor al año en curso");
                                            break;
                                        }

                                        if(campo === 5 && $(`#${campos[campo][1]}`).val() < 1529){
                                            hablar("El año de construcción no puede ser menor a 1529, año de fundación de Maracaibo.");
                                            break;
                                        }

                                        if((campo >=  7 && campo <= 8 || campo == 10 || campo >= 12 && campo <= 13) && $(`#${campos[campo][1]}`).val() < 0){
                                            hablar(`La cantidad de ${campos[campo][1]} no puede ser ser menor a 0.`);
                                            break;
                                        }

                                        if((campo === 6 || campo === 10 || campo === 13) && $(`#${campos[campo][1]}`).val() == 0){
                                            hablar(`La cantidad de ${campos[campo][1]} no puede ser ser 0.`);
                                            break;
                                        }
                                    }

                                    $(id).val($(id).val().trim().replace(/\s+/g,' '));
                                    hablar("Usted ha escrito: " + $('#'+campos[campo][1]).val() + " Diga 'editar' para editar o 'continuar' para seguir con el siguiente campo.")
                                    escribiendo = false;
                                    break;
                                
                                case "sí":
                                    if(campo === 11){
                                        $('#amueblado').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble está amueblado. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 14){
                                        $('#agua').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble tiene el servicio de agua. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 15){
                                        $('#electricidad').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble tiene el servicio de electricidad. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 16){
                                        $('#gas').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble tiene el servicio de gas. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 17){
                                        $('#aseo').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble tiene el servicio de aseo. Diga no para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 18){
                                        $('#internet').prop("checked", true);
                                        hablar("Usted ha dicho que el inmueble tiene el servicio de internet. Diga no para cambiar esta opción. Diga continuar para finalizar.")
                                    }        
                                    break;
                                
                                case "no":
                                    if(campo === 11){
                                        $('#amueblado').prop("checked", false);
                                        hablar("Usted ha dicho que el inmueble no está amueblado. Diga sí para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 14){
                                        $('#agua').prop("checked", false);
                                        hablar("Usted ha dicho que el inmueble no tiene el servicio de agua. Diga sí para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 15){
                                        $('#electricidad').prop("checked", false);
                                        hablar("Usted ha dicho que el inmueble no tiene el servicio de electricidad. Diga sí para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 16){
                                        $('#gas').prop("checked", false);
                                        hablar("Usted ha dicho que el inmueble no tiene el servicio de gas. Diga sí para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 17){
                                        $('#aseo').prop("checked", false);
                                        hablar("Usted ha dicho que el inmueble no tiene el servicio de aseo. Diga sí para cambiar esta opción. Diga continuar para continuar.")
                                    } else if(campo === 18){
                                        $('#internet').prop("checked", false);
                                        hablar("Usted ha dicho que el inmueble no tiene el servicio de internet. Diga sí para cambiar esta opción. Diga continuar para finalizar.")
                                    }
                                    break;
                            }
                        }
                    });

                    console.log(dictando);
                    console.log(campo)

                    if(!speaking && speech.toLowerCase().indexOf('deletree o dicte') === -1){
                        if(dictando && (campo === 12 || campo === 13)){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                         .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                         .replace('nueve','9').replace('cero','0').replace('e','').replace('.','').replace(",","").replace(/\s+/g,"");

                         if(!isNaN(speech) && speech != '') // Esto verifica que el string sea numérico
                            $('#'+campos[campo][1]).val(speech)

                        } else if(dictando && (campo === 0 || campo === 4 || campo === 9)){
                            $(`#${campos[campo][1]}`).val($(`#${campos[campo][1]}`).val() + " " + speech.toLowerCase().replace(".","").replace("dictado", "").replace("m2", "metros cuadrados").replace("/4", " cuartos"))
                        }
                        else if(dictando && (campo === 5 || campo === 6 || campo === 7 || campo === 8)){
                            speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace('e','').replace('.','').replace(",","").replace(/\s+/g,"");
                            if(/[0-9]+/.test(speech.replaceAll(" ", "")))
                                $(`#${campos[campo][1]}`).val(speech.replaceAll(" ", "").replaceAll(/\D+/g, ""));
                        }
                        else if(dictando && campo === 10){
                            if(speech.toLowerCase().indexOf("dictado") === -1)
                                $('#'+campos[campo][1]).val(speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace("punto",".").replace("coma",",")
                            .replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replace(/.$/g,"").replace(",",".").replaceAll(" ", ""));
                        }
                    }

                    if(campo === 1 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replace('.','').replace(",","");
                        
                        // {% for parroquia in parroquias %}

                        if({{forloop.counter}} === Number(speech)){
                            $('#parroquia').val("{{parroquia.id}}");
                            $('#parroquia').change();
                            hablar("Usted ha dicho {{forloop.counter}}. Se ha escogido " + '{{parroquia.nombre}} Diga continuar para continuar, o diga opciones para escuchar todas las opciones.')
                        }

                        // {% endfor %}
                    } else if(campo === 2 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replace('.','').replace(",","");
                        
                        for(let i = 1; i <= sectores_actuales.length; i++){
                            if(i === Number(speech)){
                                $('#sector').val(i);
                                hablar(`Usted ha dicho ${i}. Se ha escogido ` + `${sectores_actuales[i-1].nombre}. Diga continuar para continuar, o diga opciones para escuchar todas las opciones.`)
                            }
                        }
                    } else if(campo === 3 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('coman2','comandos').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replace('.','').replace(",","");
                        
                        // {% for construccion in construcciones %}

                        if({{forloop.counter}} === Number(speech)){
                            $('#tipo_construccion').val("{{forloop.counter}}");
                            hablar("Usted ha dicho {{forloop.counter}}. Se ha escogido " + '{{construccion}} Diga continuar para continuar, o diga opciones para escuchar todas las opciones.')
                        }

                        // {% endfor %}
                    }
                }
            }
        }

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace("lista","listo").replace("Lista","listo").replace(/[rR]egresar\sa[l]*\sinicio/g, "regresar inicio");;
                   console.log(speech);
                   if(localStorage.getItem('comandos') == '1')
                   Object.keys(comandos).forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;

                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                                
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                            break;
                            
                            case "crear inmueble":
                                escribiendo = true;
                                let texto = "";
                                if($(`#${campos[campo][1]}`).val() != '')
                                    texto = "El campo actualmente tiene el valor: " + $("#"+campos[campo][1]).val() + ". Diga listo y luego editar para editarlo.";

                                document.getElementById('nombre').focus();
                                hablar("Usted ha dicho crear inmueble. Diga 'salir' para salir del formulario. Campo #1: Nombre del Inmueble. Diga dictado para dictar." + texto);
                                
                                recognition.onresult = formulario_p1;
                                break;

                            // {% if request.user.is_authenticated %}
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "cerrar sesión":
                                document.getElementById('cerrar_sesion').click();
                                break;

                            case "ver perfil":
                                window.location.replace('/usuarios/perfil/');
                                break;
                            // {%endif%}
                                                        
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de consultas de compras. Usted ha realizado {{compras.count}} compras. La pantalla está dividida en las siguientes secciones:
                                    1. Barra de Navegación: Aquí se encuentran las opciones de navegación básicas.
                                    2. Sección de Formulario: Aquí se encuenta el formulario de creación de inmueble y todos sus campos, diga "crear inmueble" para iniciarlo por voz.
                                `);
                                break;
                        }
                      }    
                   });

                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            console.log(event);
        }

        async function bienvenida(tipo = 0){
            if ('speechSynthesis' in window) {
                var utterance = undefined;
                
                if(tipo === 0)
                    utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de creación de inmueble. Diga "ayuda" para obtener los comandos que puede utilizar en esta pantalla.');
                else
                    utterance = new SpeechSynthesisUtterance('El formulario que envió contiene errores: {% for error in errores %}{{forloop.counter}}: {{error}}. {% endfor %}.');
                
               utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false, reporte = false;
                    recognition.start();
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
            }
        }

        async function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false, reporte = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
            }
        }

        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }

        if(localStorage.getItem('comandos') == '1')
            if({{errores|length}} === 0)        
                bienvenida();
            else
                bienvenida(1);

        recognition.start();
        recognition.addEventListener('end', recognition.start);

        $(document).on('change', '#parroquia', () => {
            $('#sector').empty();
            let opciones = $.ajax(`sectores/${$('#parroquia').val()}`, {
                async: false,
                success: ({res}) => {
                    for(let i = 1; i <= res.length; i++)
                       $('#sector').append(`<option value="${i}">${res[i-1].nombre}</option>`)

                    sectores_actuales = res;
                }
            });
        });

        window.onbeforeunload = function () {
            synthesis.cancel();
            recognition.stop();
        }

        $(document).on('change', 'input', (e) => {
            e.target.value = e.target.value.trim();
        });
    </script>
</head>
{% include 'nav.html' %}
<body>
    <div class="contenedorFormularioInmueble">
        <div class="contenedorFormulario">
    <h2 class="tituloForm">Formulario de Inmueble</h2>
    <form method="post">
        {% csrf_token %}
        <label for="nombre" class="form-label">Nombre del Inmueble:</label><br>
        <input required type="text" name="nombre" id="nombre" class="form-control"> <br>

        <label for="parroquia" class="form-label">Parroquia:</label><br>
        <select required name="parroquia" id="parroquia" class="form-select">
            {% for parroquia in parroquias %}
            <option value="{{parroquia.id}}">{{parroquia.nombre}}</option>
            {% endfor %}
        </select><br>

        <label for="sector" class="form-label">Sector:</label><br>
        <select required name="sector" id="sector" class="form-select">
            {% for sector in sectores %}
            <option value="{{forloop.counter}}">{{sector.nombre}}</option>
            {% endfor %}
        </select><br>

        <label for="tipo_construccion" class="form-label">Tipo de Construcción:</label><br>
        <select required name="tipo_construccion" id="tipo_construccion" class="form-select">
            {% for construccion in construcciones %}
            <option value="{{forloop.counter}}">{{construccion}}</option>
            {% endfor %}
        </select><br>

        <label for="ubicacion_detallada" class="form-label">Ubicación Detallada:</label><br>
        <textarea required name="ubicacion_detallada" id="ubicacion_detallada" cols="30" rows="10" class="form-control"></textarea><br>

        <label for="ano" class="form-label">Año de Construcción:</label><br>
        <input required max="2023" min="1529" type="number" name="ano" id="ano" class="form-control"><br>

        <label for="tamano" class="form-label">Tamaño (en metros cuadrados):</label><br>
        <input required type="number" name="tamano" id="tamano" step=".01" class="form-control"><br>

        <label for="habitaciones" class="form-label">Número de Habitaciones:</label><br>
        <input required min="0" type="number" name="habitaciones" id="habitaciones" class="form-control"><br>

        <label for="banos" class="form-label">Número de Baños:</label><br>
        <input required min="0" type="number" name="banos" id="banos" class="form-control"><br>

        <label for="descripcion" class="form-label">Descripción (será editada para optimizarse para personas con discapacidad visual):</label><br>
        <textarea required name="descripcion" id="descripcion" cols="30" rows="10" class="form-control"></textarea ><br>

        <label for="precio" class="form-label">Precio (Dólares):</label><br>
        <input required min="0.01" type="number" step=".01" name="precio" id="precio" class="form-control"><br>

        <hr>
        <h4 class="tituloInput">Características Extra</h4>

        <div class="checkBoxInput">
            <label for="amueblado" class="form-label">Está amueblado:</label>
            <input type="checkbox" name="amueblado" id="amueblado" class="form-check"><br>
        </div>
        <label for="estacionamiento" class="form-label">Puestos de Estacionamiento:</label><br>
        <input required type="number" min="0" value="0" required name="estacionamiento" id="estacionamiento" class="form-control"><br>

        <label for="pisos" class="form-label">Número de Pisos:</label><br>
        <input required type="number" min="1" value="1" required name="pisos" id="pisos" class="form-control"><br>

        <hr>
        <h4 class="tituloInput">Servicios</h4>
        <div class="checkboxGroup">
            <div class="checkBoxInput">
                <label for="agua" class="form-label">Servicio de agua:</label>
                <input type="checkbox" name="agua" id="agua"class="form-check"><br>
            </div>

            <div class="checkBoxInput">
                <label for="electricidad" class="form-label">Servicio de electricidad:</label>
                <input type="checkbox" name="electricidad" id="electricidad"class="form-check"><br>
            </div>
            <div class="checkBoxInput">
                <label for="gas" class="form-label">Servicio de gas:</label>
                <input type="checkbox" name="gas" id="gas"class="form-check"><br>
            </div>
            <div class="checkBoxInput">
                <label for="aseo" class="form-label">Servicio de aseo:</label>
                <input type="checkbox" name="aseo" id="aseo" class="form-check"><br>
            </div>
            <div class="checkBoxInput">
                <label for="internet" class="form-label">Servicio de Internet:</label>
                <input type="checkbox" name="internet" id="internet" class="form-check"><br>
            </div>
        </div> <br>
        <input type="submit" value="Enviar Formulario" class="btn btn-success">
    </form>
    </div>
</div>
<div>
</div>

{% include 'footer.html' %}


    <script>
        let elements = Array.prototype.slice.call(document.getElementsByTagName('input'), 0 );
        console.log(elements);
        elements.map((x) => {
            x.addEventListener('change', (e) => {
                e.target.value = e.target.value.trim().replace(/\s+/g,' ');
            });
        });
        $('form').one('submit', function() {
            $(this).find('input[type="submit"]').attr('disabled','disabled');
        }); 
    </script>
</body>
</html>