<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>

    <script>
        const synthesis = window.speechSynthesis;
        let speaking = true, escribiendo = false, dictando = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "buscar inmueble": "Permitirá buscar un inmueble.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "leer resultados": "Lee los resultados de la busqueda",
            // {% if not request.user.is_authenticated %}
            "iniciar sesión": "Lleva a la pantalla de inicio de sesión.",
            // {% else %}
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            // {% endif %}
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "resultado": "Seguido del número de resultado le llevará a los detalles del inmueble"
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript;
                   console.log(speech);
                   ["ayuda","iniciar sesión","leer resultados","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                    "buscar inmueble", "resultado", "cerrar sesión", "leer pantalla", "dictado", "salir", "listo","continuar", "editar"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            // {% if request.user.is_authenticated %}
                            case "consultar compras":

                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;
// {%endif%}

                            case "iniciar sesión":
                                hablar("Redirigiendo a la pantalla de inicio de sesión.");
                                location.replace("/usuarios/login/");
                                
                                break;
                            
                            case "buscar inmueble":
                                hablar("Escriba la descripción del inmueble que desea. Diga dictado para dictarla. Diga salir para no buscar. Diga listo una vez haya finalizado.");
                                const input = document.getElementById('busqueda');
                                input.focus();
                                campo = 1;

                                break;

                            case "dictado":
                                if(campo === 1){
                                    hablar("Deletree o dicte la descripción del inmueble que busca");
                                    dictando = true;
                                }
                                
                                break;
                            
                            case "salir":
                                if(campo === 1){
                                    hablar("Saliendo del formulario.");
                                    dictando = false;
                                    campo = 0;
                                }
                                break;

                            case "listo":
                                hablar(`Usted ha escrito: ${document.getElementById('busqueda').value}. Diga "continuar" para buscar inmuebles, o diga "editar" para editar.`);
                                campo = 2;
                                dictando = false;
                                break;
                            
                            case "continuar":
                                if(campo === 2)
                                    document.getElementById('form_busqueda').submit();
                                break;
                            
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de resultados, la cual se encuentra integrada por las siguientes secciones:
                                1. Barra de Navegación: Aquí se encuentran las opciones básicas de navegación por el sistema.
                                2. Sección de Búsqueda: Aquí se encuentra la barra de búsqueda de para inmuebles.
                                3. Sección de Resultados: Aquí se encuentran los resultados. Puede decir "leer resultados" para escuchar el contenido de la sección.
                                `);
                                break;
                            
                            case "leer resultados":
                                hablar(`{% if resultados.count %} Estos son los {{resultados.count}} resultados de su búsqueda: {% else %} No se han encontrado resultados para su búsqueda. {% endif %}
                                    {% for resultado in resultados %}
                                    {{forloop.counter}}: {{resultado.nombre}}, sector {{resultado.sector.nombre}}, precio: {{resultado.precio_texto}} dólares.\n
                                    {% endfor %}
                                `);
                                break;
                            
                            case "resultado":
                                const numero = speech.split(" ")[speech.split(" ").indexOf("resultado") + 1].replace(/[.,]/g,"");
                                let pasado = false;
                                console.log(numero);
                                // {% for resultado in resultados %}
                                if(numero == '{{forloop.counter}}'){
                                    hablar("Redirigiendo al detalle del inmueble.")
                                    window.location.replace("/inmuebles/detallar/{{resultado.pk}}/")
                                    pasado = true;
                                }
                                // {% endfor %}

                                if(!pasado)
                                    hablar(`No hay resultados con el número '${numero}'.`)

                                break;
                            
                            case "editar":
                                if(campo === 2){
                                    campo = 1;
                                    document.getElementById('busqueda').value = "";
                                    document.getElementById('busqueda').focus();
                                }
                                break;
                        }
                      }    
                   });

                   if(dictando && speech.indexOf("dictado") == -1)
                        document.getElementById('busqueda').value += " " + speech.toLowerCase().slice(0,-1);
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de resultados.' 
                    + '{% if resultados.count %} Se han encontrado {{resultados.count}} resultados {% else %} No se ha encontrado ningún resultado {% endif %}'
                    + 'para la búsqueda "{{busqueda}}".');
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
                recognition.start();
                recognition.addEventListener('end', recognition.start);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            synthesis.cancel();
            recognition.stop();
        }
        
        bienvenida();
    </script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="busqueda" value="{{busqueda}}">
        <input type="submit" value="Buscar">
    </form>
    {% if resultados %}
        {% for inmueble in resultados %}
            {{inmueble.id}}
            <a href="{% url 'detalle_inmueble' pk=inmueble.pk %}">{{inmueble.nombre}}</a>
        {% empty %}
            <b>No hay inmuebles que coincidan con la descripción proporcionada.</b>
        {% endfor %}
    {% endif %}
</body>
</html>