{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'estilos/resultados/resultados.css' %}">

    <script>
        const synthesis = window.speechSynthesis;
        let speaking = false, escribiendo = false, dictando = false, reporte = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "buscar inmueble": "Permitirá buscar un inmueble.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "leer resultados": "Lee los resultados de la busqueda",
            "desactivar comandos de voz": "Desactiva los comandos de voz",
            // {% if not request.user.is_authenticated %}
            "iniciar sesión": "Lleva a la pantalla de inicio de sesión.",
            "registrarse": "Lleva a la pantalla de inicio de registro.",
            // {% else %}
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            "ver perfil": "Permite ver sus datos personales",
            // {% endif %}
            "resultado": "Seguido del número de resultado le llevará a los detalles del inmueble"
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace("lista","listo")
                   .replace("Lista","listo").replace(/regresar\sa[l]*\sinicio/g, "regresar inicio")
                   .replaceAll("en mueble", "inmueble").replaceAll("/4", " cuartos");
                   console.log(speech);
                   if(localStorage.getItem('comandos') == '1')
                   ["ayuda","iniciar sesión","leer resultados","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                    "buscar inmueble", "resultado", "cerrar sesión", "leer pantalla", "dictado", "salir", "listo","continuar", "editar",
                    "regresar inicio", "desactivar comandos de voz", "ver perfil", "registrarse"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "desactivar comandos de voz":
                                localStorage.setItem('comandos', 0);
                                hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                                break;

                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                                
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            // {% if request.user.is_authenticated %}
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;

                            case "cerrar sesión":
                                document.getElementById('cerrar_sesion').click();
                                break;

                            case "ver perfil":
                                window.location.replace('/usuarios/perfil/');
                                break;
                            // {% else %}
                            case "iniciar sesión":
                                location.replace("/usuarios/login/");
                                break;

                            case "registrarse":
                                location.replace("{% url 'registro' %}");
                                break;
                            // {%endif%}
                            
                            case "buscar inmueble":
                                hablar("Escriba la descripción del inmueble que desea. Diga dictado para dictarla. Diga salir para no buscar. Diga listo una vez haya finalizado.");
                                escribiendo = true;
                                const input = document.getElementById('busqueda');
                                input.value = "";
                                input.focus();
                                campo = 1;

                                break;

                            case "dictado":
                                if(campo === 1){
                                    hablar("Deletree o dicte la descripción del inmueble que busca");
                                    dictando = true;
                                }
                                
                                break;
                            
                            case "salir":
                                if(campo === 1){
                                    hablar("Saliendo del formulario.");
                                    dictando = false;
                                    escribiendo = false;
                                    campo = 0;
                                }
                                break;

                           case "listo":
                                dictando = false;
                                if(!escribiendo)
                                    break;
                                
                                if(document.getElementById('busqueda').value == ''){
                                    hablar("El campo de búsqueda no puede estar vacío. Vuelva a escribir o dictarlo.");
                                    break;
                                }
                                
                                document.getElementById('busqueda').value = document.getElementById('busqueda').value.trim().replace(/\s+/g,' ');
                                hablar(`Usted ha escrito: ${document.getElementById('busqueda').value}. Diga "continuar" para buscar inmuebles, o diga "editar" para editar.`);
                                campo = 2;
                                break;
                                campo = 2;
                                dictando = false;
                                escribiendo = false;
                                break;
                            
                            case "continuar":
                                if(campo === 2){
                                    if(document.getElementById('busqueda').value == ''){
                                        hablar("El campo de búsqueda no puede estar vacío. Vuelva a escribir o dictarlo.");
                                        break;
                                    }
                                    document.getElementById('form_busqueda').submit();
                                }
                                break;                                    document.getElementById('form_busqueda').submit();
                                break;
                            
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de resultados, la cual se encuentra integrada por las siguientes secciones:
                                1. Barra de Navegación: Aquí se encuentran las opciones básicas de navegación por el sistema.
                                2. Sección de Búsqueda: Aquí se encuentra la barra de búsqueda para inmuebles.
                                3. Sección de Resultados: Aquí se encuentran los resultados. Puede decir "leer resultados" para escuchar el contenido de la sección.
                                `);
                                break;
                            
                            case "leer resultados":
                                hablar(`{% if resultados.count %} Estos son los {{resultados.count}} resultados de su búsqueda: {% else %} No se han encontrado resultados para su búsqueda. {% endif %}
                                    {% for resultado in resultados %}
                                    {{forloop.counter}}: {{resultado.nombre}}, sector {{resultado.sector.nombre}}, precio: {{resultado.precio_texto}} dólares.\n
                                    {% endfor %}
                                `);
                                break;
                            
                            case "resultado":
                                speech = speech.toLowerCase().replace(/[.,]/g, '');
                                console.log(speech.split(" "));
                                const numero = speech.split(" ")[speech.split(" ").indexOf("resultado") + 1].replace(/[.,]/g,"")
                                .replace("dos","2").replaceAll("coman2","comandos").replace("tres","3").replace("cuatro","4")
                                .replace("cinco","5").replace("seis","6").replace("siete","7").replace("ocho","8")
                                .replace("nueve","9").replace("uno","1").replace("una","1");

                                let pasado = false;
                                console.log(numero);
                                // {% for resultado in resultados %}
                                if(numero == '{{forloop.counter}}'){
                                    hablar("Redirigiendo al detalle del inmueble.")
                                    window.location.replace("/inmuebles/detallar/{{resultado.pk}}/")
                                    pasado = true;
                                }
                                // {% endfor %}

                                if(!pasado)
                                    hablar(`No hay resultados con el número ${numero}.`)

                                break;
                            
                            case "editar":
                                if(campo === 2 && !escribiendo){
                                    campo = 1;
                                    document.getElementById('busqueda').value = "";
                                    document.getElementById('busqueda').focus();
                                }
                                break;
                        }
                      }    
                   });

                   if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos')) && speech.toLowerCase().includes('activar comandos de voz')){
                        bienvenida();
                        localStorage.setItem("comandos", 1);
                        break;
                   }

                   if(dictando && !speaking && speech.indexOf("dictado") == -1)
                        document.getElementById('busqueda').value += " " + speech.toLowerCase().replace(/.$/g, "");
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = !window.navigator.userAgentData.mobile;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de resultados.' 
                    + '{% if resultados.count %} Se han encontrado {{resultados.count}} resultados {% else %} No se ha encontrado ningún resultado {% endif %}'
                    + 'para la búsqueda "{{busqueda}}".');
                
               utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                recognition.onresult = inicial;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true;
                    recognition.abort();
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    
                    speaking = false, reporte = false;
                    console.log("LISTO");
                    recognition.start();
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }
        
        if(localStorage.getItem('comandos') == '1')
            bienvenida();

        recognition.start();
        recognition.addEventListener('end', () => !speaking ? recognition.start() : console.log("a"));

        document.addEventListener("keydown", function(event) {
            if (event.altKey && event.code === "KeyX"){ // Parar hablar
                synthesis.cancel();
                speaking = false;
                recognition.start();
            } else if(event.altKey && event.code === "KeyC"){
                synthesis.cancel();
                speaking = false;
                if(localStorage.getItem('comandos') == '1'){
                    localStorage.setItem('comandos', 0);
                    hablar("Se han desactivado los comandos de voz. Diga 'activar comandos de voz' para activarlos de nuevo'");
                } else if(!speaking && (localStorage.getItem('comandos') == '0' || !localStorage.getItem('comandos'))){
                    bienvenida();
                    localStorage.setItem("comandos", 1);
                }
            }
        });
    </script>
</head>
<body>
    {% include 'nav.html' %}
    <div class="containerResultados container-fluid">
                <form method="post" id="form_busqueda" class="formBusqueda">
                    {% csrf_token %}
                     <div class="box">
                <input type="submit" value="🔍︎" id="iconoBusqueda">
                <input required type="text" id="busqueda" name="busqueda" value="{{busqueda}}" class="busqueda">
                     </div>
                    </form>
    {% if resultados %}
    <div class="containerCard row">
            {% for inmueble in resultados %}
            
            <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                <div id="{{inmueble.pk}}" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for imagen in inmueble.imagenes %}
                        <div class="carousel-item {% if forloop.counter == 1%}active{%endif%}">
                            <img class="card-img-top" src="{{imagen}}">
                        </div>
                        {% endfor %}
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#{{inmueble.pk}}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{inmueble.pk}}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<a href="{% url 'detalle_inmueble' pk=inmueble.pk %}" class="hiperVinculo">
                <div class="card-body">
                     <label for="" class="card-title"><i class="bi bi-house"></i>{{inmueble.precio}}$</label><br>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{inmueble.nombre}}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">🗺️Sector: {{inmueble.sector}}</li>
                        <li class="list-group-item">🛏️Número de Habitaciones: {{inmueble.habitaciones}}</li>
                        <li class="list-group-item">🛁Número de Baños: {{inmueble.banos}}</li>
                        <li class="list-group-item">🛋️ Año de Construcción: {{inmueble.ano_construccion}}</li>
                      </ul>
                </div>
            </a>
            </div>
        
            {% endfor %}
        </div>
    {% endif %}
</div>
</body>
{% include 'footer.html' %}
</html>
