<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <form method="post">
        <input type="text" name="busqueda" value="{{busqueda}}">
        <input type="submit" value="Buscar">
    </form>
    {% if resultados %}
        {% for inmueble in resultados %}
            {{inmueble.id}}
            <a href="{% url 'detalle_inmueble' pk=inmueble.pk %}">{{inmueble.nombre}}</a>
        {% endfor %}
    {% endif %}
</body>
</html>