<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cita para el Inmueble "{{inmueble.nombre}}"</title>

    <script>
        const synthesis = window.speechSynthesis;
        let speaking = true, escribiendo = false, dictando = false, campo = 0;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "leer pantalla": "Lee el contenido de la pantalla",
            "leer opciones": "Lee el contenido de la pantalla",
            "agendar día": "Seguido del número indicado en las opciones, se agenda una cita en el día especificado",
            // {% if not request.user.is_authenticated %}
            "iniciar sesión": "Lleva a la pantalla de inicio de sesión.",
            // {% else %}
            "cerrar sesión": "Cierra la sesión actual",
            "consultar compras": "Permite consultar las compras realizadas por su persona",
            "consultar ventas": "Permite consultar las ventas de sus publicaciones",
            "consultar citas": "Permite consultar las citas que ha solicitado",
            "consultar publicaciones": "Permite consultar las publicaciones de sus inmuebles",
            // {% endif %}
            
        };

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace(/[,.]/g,'').replace("cuatro", "4");
                   console.log(speech);
                   ["ayuda","iniciar sesión","consultar compras","consultar ventas","consultar citas","consultar publicaciones",
                   "cerrar sesión", "leer pantalla", "leer opciones", "agendar día", "salir"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                                break;
                            
                            case "consultar compras":
                                hablar("Redirigiendo a la pantalla de compras.");
                                location.replace("/inmuebles/consultar/compras/");
                                break;

                            case "consultar ventas":
                                hablar("Redirigiendo a la pantalla de ventas.");
                                location.replace("/inmuebles/consultar/ventas/");
                                break;

                            case "consultar citas":
                                hablar("Redirigiendo a la pantalla de citas.");
                                location.replace("/inmuebles/consultar/citas/");
                                break;
                            
                            case "consultar publicaciones":
                                hablar("Redirigiendo a la pantalla de publicaciones.");
                                location.replace("/inmuebles/consultar/publicaciones/");
                                break;
                                                        
                            case "leer pantalla":
                                hablar(`Esta es la pantalla de consultas de compras. Usted ha realizado {{compras.count}} compras. La pantalla está dividida en las siguientes secciones:
                                    1. Barra de Navegación: Aquí se encuentran las opciones de navegación básicas.
                                    2. Sección de Día: Aquí salen los días en los que puede agendar cita para visitar el inmueble. Diga "leer opciones", para leer los días disponibles.
                                `);
                                break;
                            
                            case "leer opciones":
                                hablar(`{% for dia in dias %}
                                        Diga agendar día {{forloop.counter}} para el día: {{dia.dia_semana}}, {{dia.fecha.date}}.\n
                                {% endfor %}`)
                                break;
                            
                            case "agendar día":
                                const dia = speech.split(" ")[speech.split(" ").indexOf("día") + 1].replace(/[.,]/g,"")
                                .replace("dos","2").replace("tres","3").replace("cuatro","4")
                                .replace("cinco","5").replace("seis","6").replace("siete","7").replace("ocho","8")
                                .replace("nueve","9").replace("uno","1").replace("una","1");
                                let encontrado = false;

                                // {% for dia in dias %}
                                if(dia == '{{forloop.counter}}'){
                                    hablar(`Ha seleccionado el día {{dia.dia_semana}}, {{dia.fecha.date}}.`);
                                    document.getElementById('dia_{{forloop.counter}}').click();
                                    encontrado = true;
                                    break;
                                }
                                // {% endfor %}

                                if(!encontrado)
                                    hablar(`No hay día disponible con el número '${dia}'.`)
                                hablar(``);
                                break;
                        }
                      }    
                   });

                   if(dictando && speech.indexOf("dictado") == -1)
                        document.getElementById('busqueda').value += " " + speech.toLowerCase().slice(0,-1);
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            if(event.error !== 'no-speech'){
                console.log(event);
            }
        }

        function bienvenida(){
            if ('speechSynthesis' in window) {
                let utterance = new SpeechSynthesisUtterance(`Justo ahora está en la pantalla de agendar día de cita. Escoja la que mejor se ajuste a su horario. Tiene las siguientes opciones:
                {% for dia in dias %}
                Diga agendar día {{forloop.counter}} para el día: {{dia.dia_semana}}, {{dia.fecha.date}}.\n
                {% endfor %}
                `);
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
                recognition.start();
                recognition.addEventListener('end', recognition.start);
            }
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
            }
        }
        
        window.onbeforeunload = function () {
            synthesis.cancel();
            recognition.stop();
        }
        
        bienvenida();
    </script>
</head>
<body>
    De los siguientes días, escoja el que mejor se ajuste a su horario:
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for dia in dias %}
            <li><button id="dia_{{forloop.counter}}" type="submit" name="dia_escogido" value="{{dia.fecha.day}}-{{dia.fecha.month}}-{{dia.fecha.year}}">{{dia.dia_semana}}, {{dia.fecha.date}}</button></li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>