<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cita para el Inmueble "{{inmueble.nombre}}"</title>
</head>
<body>
    De los siguientes días, escoja el que mejor se ajuste a su horario:
    <form method="post">
        <ul>
            {% for dia in dias_disponibles %}
            <li><button type="submit" name="dia_escogido" value="{{dia.fecha}}">{{dia.fecha}}</button></li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>