{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelación de la Publicación</title>
</head>
<body>
    {% include 'nav.html' %}
    <form method="post">
        {% csrf_token %}
        Esta opción debe ser únicamente usada en casos en los cuales exista una falta
        a la ley, el código de ética de la empresa de la empresa. Al presionar el botón de
        cancelación usted acepta como agente inmobiliario de inmuebles Incaibo que
        se ha roto alguno de los mencionados anteriormente.

        <button type="submit">Cancelar Publicación</button>
    </form>
</body>
{% include 'footer.html' %}
</html>