<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Pago</title>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script> 
        const synthesis = window.speechSynthesis;
        const campos = [
            ['Cuenta Receptora', 'receptora', ''], 
            ['Monto', 'monto', 'Ingrese el monto transferido en bolívares. Diga dictado para dictar.'],
            ['Número de Referencia', 'referencia', 'Ingrese el número de referencia de la transacción dado por el banco. Diga dictado para dictar.'],
            ['Fecha de la transacción', 'fecha_transaccion', 'Ingrese la fecha de la transacción.'],
            ['Comentarios', 'comentario', 'Añada un comentario de considerarlo necesario. Este campo es opcional. Diga dictado para dictar.']
        ];
        let speaking = true, escribiendo = false, dictando = false, campo = 0;;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "registrar pago": "Inicia el formulario de registro de pago.",
            "regresar inicio": "Regresa a la pantalla de inicio"
        };
        const tasa = Number("{{tasa_dolar}}".replace(",","."));

        function formulario_p1(event){
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal && !speaking){
                   speech = event.results[i][0].transcript.replace("lista","listo").replace("Lista","listo");
                   console.log(speech);
                    
                    if(campo === 0)
                        speech = speech.toLowerCase().replace("uno", "1").replace("dos", "2").replace("tres", "3")
                        .replace("cuatro", "4").replace("cinco", "5").replace("seis", "6").replace("siete", "7")
                        .replace("ocho", "3").replace("nueve", "9");

                    ["dictado", "salir", "continuar", "editar", "listo", "opciones"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                                case "salir":
                                    campo = 0;
                                    hablar("Usted ha dicho salir. Saliendo del formulario.");
                                    dictando = false;
                                    recognition.onresult = inicial;
                                break;

                                case "dictado":
                                    if([1,2,3,4].indexOf(campo) !== -1 && !dictando){
                                        if(campo !== 3)
                                            hablar(`Usted ha dicho dictado. Deletree o dicte con claridad su ${campos[campo][0]}.`);
                                        else
                                            hablar("Usted ha dicho dictado. Su fecha de nacimiento debe ser pronunciada en el formato: día (en números) mes (en nombre) año (en números)");

                                        escribiendo = true;
                                        dictando = true;
                                    }
                                    break;
                                
                                case "teclado":
                                    hablar(`Usted ha dicho teclado. Escriba su ${campos[campo][0]} y diga 'listo' al terminar.`);
                                    escribiendo = true;
                                    const input = document.getElementById('id_username');
                                    input.focus();
                                    break;

                                case "continuar":
                                    if(!escribiendo){
                                        campo++;
                                        if(campo < campos.length){
                                            const input2 = document.getElementById(campos[campo][1]);
                                            input2.focus();
                                            hablar(`Campo #${campo+1}: ${campos[campo][0]}. ${campos[campo][2]}.`);
                                            
                                            if($(`#${campos[campo][1]}`).val() != '')
                                                hablar("El campo actualmente tiene el valor: " + $("#"+campos[campo][1]).val() + ". Si quiere editarlo diga listo y luego editar.");
                                            else
                                                hablar("Diga listo una vez la haya ingresado.");
                                            
                                            escribiendo = true;
                                        } else{
                                            campo = 0;
                                            $('form').submit();
                                        }
                                    }
                                    break;
                                
                                case "editar":
                                    if(campo >= 1){
                                        hablar(`Usted ha dicho 'editar'. Vuelva a escribir su ${campos[campo][0]}.`)
                                        $(`#${campos[campo][1]}`).val("");
                                        const input2 = document.getElementById(campos[campo][1]);
                                        input2.focus();
                                        escribiendo = true;
                                    } else{
                                        hablar("Usted ha dicho 'editar'. Diga 'teclado' para escribir el campo con teclado, o diga 'dictado' para dictarlo.")
                                        $('#id_username').val("");
                                    }                                
                                    break;

                                case "listo":
                                    let id = `#${campos[campo][1]}`;
                                    dictando = false;
                                    if(campo >= 1 && campo < 4){
                                        if($(id).val() == ''){
                                            hablar(`El campo ${campos[campo][0]} no puede estar vacío.`);
                                            break;
                                        }

                                        if(campo == 1 && $(id).val() == 1){
                                            hablar("El monto debe ser mayor o igual a 1.");
                                            $(id).val("");
                                            break;
                                        }
                                    }
                                    $(id).val($(id).val().trim().replace(/\s+/g,' '));

                                    if(campo === 1){
                                        $('#'+campos[campo][1]).val(redondeoFinanciero($('#'+campos[campo][1]).val()));
                                        hablar("Usted ha escrito: " + $('#'+campos[campo][1]).val() + ", los cuales al cambio corresponden a " + redondeoFinanciero($('#'+campos[campo][1]).val()/tasa) + " dólares. Diga 'editar' para editar o 'continuar' para seguir con el siguiente campo.");
                                    }
                                    else
                                        hablar("Usted ha escrito: " + $('#'+campos[campo][1]).val() + ". Diga 'editar' para editar o 'continuar' para seguir con el siguiente campo.")
                                    
                                    escribiendo = false;
                                    break;
                                
                                case 'opciones':
                                    if(campo === 0){
                                        // {% for cuenta in cuentas_empresa %}
                                        hablar("Diga {{forloop.counter}} para " +'{{cuenta.banco}}'.slice(6) + ', de número: {{cuenta.numero}}')
                                        // {% endfor %}
                                    }
                                    break;
                            }
                        }
                    });

                    console.log(dictando);
                    console.log(campo);

                    if(dictando && campo === 1){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                         .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                         .replace('nueve','9').replace('cero','0').replace("punto",".").replace("coma",",")
                         .replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replace(",",".").replaceAll(" ", "");
                        
                        speech = speech.slice(0,-1);
                        
                        console.log(speech);
                        
                        if(!isNaN(speech)) // Esto verifica que el string sea numérico
                            $('#'+campos[campo][1]).val($('#'+campos[campo][1]).val() + speech)
                    }else if(dictando && campo === 2){
                        speech = speech.toLowerCase().replaceAll('uno','1').replaceAll('dos','2').replaceAll('tres','3').replaceAll('cuatro','4')
                         .replaceAll('cinco','5').replaceAll('seis','6').replaceAll('siete','7').replaceAll('ocho','8')
                         .replaceAll('nueve','9').replaceAll('cero','0').replaceAll("punto",".").replaceAll("coma",",")
                         .replaceAll(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replaceAll(/.$/g,"").replaceAll(",",".").replaceAll(" ", "");
                        
                        console.log(speech);
                        
                        if(!isNaN(speech)) // Esto verifica que el string sea numérico
                            $('#'+campos[campo][1]).val($('#'+campos[campo][1]).val() + speech)
                    } else if(dictando && campo === 3){
                        speech = speech.toLowerCase().replaceAll("del","").replaceAll("de","").replaceAll(/\s+/g, " ");
                        let nuevo = speech.replace("enero","01").replace("febrero","02").replace("marzo","03")
                        .replace("abril","04").replace("mayo","05").replace("junio","06")
                        .replace("julio","07").replace("agosto","08").replace("septiembre","09")
                        .replace("octubre","10").replace("noviembre","11").replace("diciembre","12").replace(".","");
                        $('#fecha_transaccion').val(`${nuevo.split(" ")[2]}-${nuevo.split(" ")[1]}-${nuevo.split(" ")[0].length > 1 ? nuevo.split(" ")[0] : "0" + nuevo.split(" ")[0]}`)
                    } else if(dictando && campo === 4){
                        speech = speech.slice(0,-1);
                        $('#comentario').val($("#comentario").val() + " " + speech);
                    }

                    if(campo === 0 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑüÜ]+/g,'').replace('.','').replace(",","");
                        
                        console.log(speech);
                        console.log(Number(speech));
                        
                        // {% for cuenta in cuentas_empresa %}

                        if({{forloop.counter}} === Number(speech)){
                            $('#receptora').val("{{cuenta.pk}}");
                            hablar("Usted ha dicho {{forloop.counter}}. Se ha escogido " + '{{cuenta.banco}}'.slice(6) + " Diga continuar para continuar, o diga opciones para escuchar todas las opciones.")
                        }

                        // {% endfor %}
                    } 
                }
            }
        }

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript.replace("lista","listo").replace("Lista","listo").replace(/regresar\sa[l]*\sinicio/g, "regresar inicio");;
                   console.log(speech);
                   Object.keys(comandos).forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "regresar inicio":
                                window.location.replace("/");
                                break;
                                
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                            break;
                            
                            case "registrar pago":
                                hablar("Usted ha dicho registrar pago. Diga 'salir' para salir del formulario. Formulario:");
                                hablar("Campo #1: Cuenta Receptora. Diga 'opciones' para tener las opciones de cuentas.");
                                
                                if($(`#${campos[campo][1]}`).val() != '')
                                    hablar("El campo actualmente tiene el valor: " + $("#"+campos[campo][1]+' option:selected').text() + ". Si quiere editarlo elija otra opción.");

                                recognition.onresult = formulario_p1;
                                break;
                        }
                      }    
                   });
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            console.log(event);
        }

        async function bienvenida(tipo = 0){
            if ('speechSynthesis' in window) {
                var utterance = undefined;
                
                if(tipo === 0)
                    utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de registro de pago. Diga "ayuda" para obtener los comandos que puede utilizar en esta pantalla.');
                else
                    utterance = new SpeechSynthesisUtterance('El formulario que envió contiene errores: {% for error in errores %}{{forloop.counter}}: {{error}}. {% endfor %}.');
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false, reporte = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
                recognition.start();
                recognition.addEventListener('end', recognition.start);
            }
        }

        async function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onstart = () => {
                    speaking = true
                }
                utterance.onend = async (evt) => {
                    if(!speaking)
                        speaking = true
                    await new Promise(resolve => setTimeout(resolve, 500));
                    speaking = false, reporte = false;
                    console.log("LISTO");
                };
                synthesis.speak(utterance);
            }
        }

        window.onbeforeunload = function () {
            if(!reporte){
                synthesis.cancel();
                recognition.stop();
            }
        }

        if({{errores|length}} === 0)        
            bienvenida();
        else
            bienvenida(1);

        function redondeoFinanciero(num, decimalPlaces = 2) {
            var d = decimalPlaces || 0;
            var m = Math.pow(10, d);
            var n = +(d ? num * m : num).toFixed(8); // Avoid rounding errors
            var i = Math.floor(n), f = n - i;
            var e = 1e-8; // Allow for rounding errors in f
            var r = (f > 0.5 - e && f < 0.5 + e) ?
                        ((i % 2 == 0) ? i : i + 1) : Math.round(n);
            return d ? r / m : r;
        }
    </script>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="receptora">Cuenta Receptora:</label><br>
        <select name="receptora" id="receptora">
            {% for cuenta in cuentas_empresa %}
            <option value="{{cuenta.id}}">{{cuenta.banco}} - {{cuenta.numero}}</option>
            {% endfor %}
        </select><br>

        <label for="monto">Monto:</label><br>
        <select name="moneda" id="moneda">
            <option value="bolivar">BsD</option>
        </select>
        <input type="number" name="monto" id="monto" step=".01" min="1" required><br>

        <label for="referencia">Número de Referencia:</label><br>
        <input type="text" pattern="[0-9]+" name="referencia" id="referencia" maxlength="15" required><br>

        <label for="fecha_transaccion">Fecha de la transacción:</label><br>
        <input type="date" id="fecha_transaccion" name="fecha_transaccion" required><br>

        <label for="comentario">Comentarios:</label><br>
        <textarea name="comentario" id="comentario"></textarea><br>

        <label for="monto_cancelado_usd">Monto Cancelado ($):</label>
        <input type="number" value="0.00" step=".01" id="monto_cancelado_usd" name="monto_cancelado_usd" disabled>

        <input type="submit" value="Registrar Pago">
    </form>  
    
    <script>
        document.getElementById('monto').addEventListener('change', (event) => {
            let monto = document.getElementById('monto').value;
            if(document.getElementById('moneda').value === "bolivar")
                monto = redondeoFinanciero(monto/tasa);
            
            document.getElementById('monto_cancelado_usd').value = monto;
        });

        document.getElementById('moneda').addEventListener('change', (event) => {
            let monto = document.getElementById('monto').value;
            if(document.getElementById('moneda').value === "bolivar")
                monto = redondeoFinanciero(monto/tasa);
            
            document.getElementById('monto_cancelado_usd').value = monto;
        });
    </script>

    <script>
        let elements = Array.prototype.slice.call(document.getElementsByTagName('input'), 0 );
        console.log(elements);
        elements.map((x) => {
            x.addEventListener('change', (e) => {
                e.target.value = e.target.value.trim().replace(/\s+/g,' ');
            });
        });
    </script>
</body>
</html>