<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cuenta</title>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script>
        const synthesis = window.speechSynthesis;
        const campos = [
            ['Banco', 'banco', ''], 
            ['Número de cuenta', 'numero', 'Ingrese el número de cuenta bancaria. Diga dictado para dictar. Recuerde que la cuenta ha de estar a su nombre.'],
        ];
        let speaking = true, escribiendo = false, dictando = false, campo = 0;;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];
        const comandos = {
            "ayuda": "Indica todos los comandos con su descripción.",
            "registrar cuenta": "Permite registrar una nueva cuenta."
        };

        function formulario_p1(event){
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript;
                   console.log(speech);
                    
                    if(campo === 0)
                        speech = speech.toLowerCase().replace("uno", "1").replace("dos", "2").replace("tres", "3")
                        .replace("cuatro", "4").replace("cinco", "5").replace("seis", "6").replace("siete", "7")
                        .replace("ocho", "3").replace("nueve", "9");

                    ["dictado", "teclado", "salir", "continuar", "editar", "listo", "opciones"].forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                                case "salir":
                                    hablar("Usted ha dicho salir. Saliendo del formulario.");
                                    dictando = false;
                                    recognition.onresult = inicial;
                                break;

                                case "dictado":
                                    if([1,2,3,4,5,7].indexOf(campo) !== -1 && !dictando){
                                        if(campo !== 4)
                                            hablar(`Usted ha dicho dictado. Deletree o dicte con claridad su ${campos[campo][0]}.`);
                                        else
                                            hablar("Usted ha dicho dictado. Su fecha de nacimiento debe ser pronunciada en el formato: día (en números) mes (en nombre) año (en números)");

                                        escribiendo = true;
                                        dictando = true;
                                    }
                                    break;
                                
                                case "teclado":
                                    hablar(`Usted ha dicho teclado. Escriba su ${campos[campo][0]} y diga 'listo' al terminar.`);
                                    escribiendo = true;
                                    const input = document.getElementById('id_username');
                                    input.focus();
                                    break;

                                case "continuar":
                                    if(!escribiendo){
                                        campo++;
                                        if(campo < campos.length){
                                            const input2 = document.getElementById(campos[campo][1]);
                                            input2.focus();
                                            hablar(`Campo #${campo+1}: ${campos[campo][0]}. ${campos[campo][2]}. Diga listo una vez la haya ingresado.`);
                                            escribiendo = true;
                                        } else{
                                            campo = 0;
                                            $('form').submit();
                                        }
                                    }
                                    break;
                                
                                case "editar":
                                    if(campo >= 1){
                                        hablar(`Usted ha dicho 'editar'. Vuelva a escribir su ${campos[campo][0]}.`)
                                        $(`#${campos[campo][1]}`).val("");
                                        const input2 = document.getElementById(campos[campo][1]);
                                        input2.focus();
                                        escribiendo = true;
                                    } else{
                                        hablar("Usted ha dicho 'editar'. Diga 'teclado' para escribir el campo con teclado, o diga 'dictado' para dictarlo.")
                                        $('#id_username').val("");
                                    }                                
                                    break;

                                case "listo":
                                    hablar("Usted ha escrito: " + $('#'+campos[campo][1]).val() + " Diga 'editar' para editar o 'continuar' para seguir con el siguiente campo.")
                                    escribiendo = false;
                                    dictando = false;
                                    break;
                                
                                case 'opciones':
                                    if(campo === 0){

                                        // {% for banco in bancos %}
                                        hablar("Diga {{forloop.counter}} para " +'{{banco.0}}'.slice(6))
                                        // {% endfor %}
                                    }
                                    break;
                            }
                        }
                    });

                    console.log(dictando);
                    console.log(campo)

                    if(dictando && campo === 1){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                         .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                         .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑ]+/g,'').replace('.','').replace(",","");
                        
                        if(!isNaN(speech)) // Esto verifica que el string sea numérico
                            $('#'+campos[campo][1]).val($('#'+campos[campo][1]).val() + speech)
                    }

                    if(campo === 0 && !speaking){
                        speech = speech.toLowerCase().replace('uno','1').replace('dos','2').replace('tres','3').replace('cuatro','4')
                            .replace('cinco','5').replace('seis','6').replace('siete','7').replace('ocho','8')
                            .replace('nueve','9').replace('cero','0').replace(/[a-zA-ZñÑáéíóúÁÉÍÓÚñÑ]+/g,'').replace('.','').replace(",","");
                        
                        console.log(speech);
                        console.log(Number(speech));
                        
                        // {% for banco in bancos %}

                        if({{forloop.counter}} === Number(speech)){
                            $('#banco').val("{{banco.0}}");
                            hablar("Usted ha dicho {{forloop.counter}}. Se ha escogido " + '{{banco.0}}'.slice(6) + " Diga continuar para continuar, o diga opciones para escuchar todas las opciones.")
                        }

                        // {% endfor %}
                    }
                }
            }
        }

        function inicial(event) {
            for (var i = event.resultIndex; i < event.results.length; i++) {
                if (event.results[i].isFinal){
                   speech = event.results[i][0].transcript;
                   console.log(speech);
                   Object.keys(comandos).forEach(comando => {
                      if(!speaking && speech.toLowerCase().includes(comando)){
                        console.log(comando);
                        switch (comando) {
                            case "ayuda":
                                if ('speechSynthesis' in window) {
                                    const crear_utterance = () => {
                                        let x = "";
                                        Object.keys(comandos).forEach((comando) => x += "Comando " + comando + ": " + comandos[comando] + "..........");
                                        return x;
                                    };        
                                    
                                    hablar("Usted ha dicho ayuda. " + crear_utterance());
                                }
                            break;
                            
                            case "registrar cuenta":
                                hablar("Usted ha dicho registrar cuenta. Diga 'salir' para salir del formulario. Formulario:");
                                hablar("Campo #1: Banco. Diga 'opciones' para tener las opciones de banco.");
                                
                                recognition.onresult = formulario_p1;
                                break;
                        }
                      }    
                   });
                }
            }
        }

        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        recognition.lang = "es-VE";
        recognition.continuous = true;
        recognition.interimResults = true;

        recognition.onresult = inicial;

        recognition.onerror = (event) => {
            console.log(event);
        }

        async function bienvenida(tipo = 0){
            if ('speechSynthesis' in window) {
                var utterance = undefined;
                
                if(tipo === 0)
                    utterance = new SpeechSynthesisUtterance('Justo ahora está en la pantalla de registro de cuenta bancaria. Diga "ayuda" para obtener los comandos que puede utilizar en esta pantalla.');
                else
                    utterance = new SpeechSynthesisUtterance('El formulario que envió contiene errores: {% for error in errores %}{{forloop.counter}}: {{error}}. {% endfor %}.');
                
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onend = () => {speaking = false};
                synthesis.speak(utterance);
                recognition.start();
                recognition.addEventListener('end', recognition.start);
            }
        }

        async function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                var utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                utterance.onend = () => {speaking = false};
                synthesis.speak(utterance);
            }
        }

        if({{errores|length}} === 0)
            bienvenida();
        else
            bienvenida(1);
    </script>
</head>
<body>
    <ul>
        {% for error in errores %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    <form method="post">
        {% csrf_token %}
        <label for="banco">Banco:</label>
        <select name="banco" id="banco">
            {% for banco in bancos %}
            <option value="{{banco.1}}">{{banco.1}}</option>
            {% endfor %}
        </select> <br>

        <label for="numero">Número</label>
        <input type="text" name="numero" id="numero" maxlength="20" placeholder="Solo pueden ser números de cuenta venezolados.">
        <br>

        <input type="submit" value="Guardar">
    </form>    
</body>
</html>