{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobación de la Edición del Inmueble</title>
    <link rel="stylesheet" href="{% static 'estilos/inmuebles/formInmueblesEditar.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
{% include 'nav.html' %}
<body>
    
    <div class="contenedorFormularioInmueble">
        <div class="contenedorFormulario">
    <h1 class="tituloForm">Aprobación de la Edición del Inmueble</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="dueno" class="form-label">Dueño del Inmueble:</label>
        <input type="text" name="dueno" id="dueno" disabled value="{{inmueble.dueno.nombre}}" class="form-control">

        <label for="dueno" class="form-label">Cédula del Dueño:</label>
        <input type="text" name="cedula" id="cedula" disabled value="{{inmueble.dueno.cedula}}" class="form-control">

        <label for="dueno" class="form-label">Teléfono del Dueño:</label>
        <input type="text" name="cedula" id="cedula" disabled value="{{inmueble.dueno.numero_telefono}}" class="form-control">

        <label for="dueno" class="form-label">Puede Ver:</label>
        <input type="text" name="puede_ver" id="puede_ver" disabled value="{% if inmueble.dueno.puede_ver %}Sí{% else %}No{% endif %}." class="form-control">

        <label for="dueno" class="form-label">Correo del Dueño:</label>
        <input type="text" name="cedula" id="cedula" disabled value="{{inmueble.dueno.usuario_persona.email}}" class="form-control">

        <label for="parroquia" class="form-label">Parroquia:</label>
        <select name="parroquia" id="parroquia" disabled class="form-select">
            <option value="{{inmueble.sector.parroquia.pk}}">{{inmueble.sector.parroquia.nombre}}</option>
        </select><br>

        <label for="sector" class="form-label">Sector:</label>
        <select name="sector" id="sector" disabled class="form-select">
            <option value="{{inmueble.sector.pk}}">{{inmueble.sector.nombre}}</option>
        </select><br>

        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{edicion.nombre}}" disabled class="form-control"><br>

        <label for="tipo_construccion" class="form-label">Tipo de Construcción:</label>
        <select name="tipo_construccion" id="tipo_construccion" disabled class="form-select">
            <option>{{edicion.tipo_construccion}}</option>
        </select><br>

        <label for="ubicacion_detallada" class="form-label">Ubicación Detallada:</label>
        <textarea disabled name="ubicacion_detallada" id="ubicacion_detallada" cols="30" rows="10" class="form-control">{{edicion.ubicacion_detallada}}</textarea><br>

        <label for="ano" class="form-label">Año de Construcción:</label>
        <input disabled type="number" name="ano" id="ano" value="{{edicion.ano_construccion}}" class="form-control"><br>

        <label for="tamano" class="form-label">Tamaño (en metros cuadrados):</label>
        <input disabled type="number" name="tamano" id="tamano" step=".01" value="{{edicion.tamano_input}}" class="form-control"><br>

        <label for="habitaciones" class="form-label">Número de Habitaciones:</label>
        <input disabled type="number" name="habitaciones" id="habitaciones" value="{{edicion.habitaciones}}" class="form-control"><br>

        <label for="banos" class="form-label">Número de Baños:</label>
        <input disabled type="number" name="banos" id="banos" value="{{edicion.banos}}" class="form-control"><br>

        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea disabled name="descripcion" id="descripcion" cols="30" rows="10" class="form-control">{{edicion.descripcion}}</textarea><br>

        <label for="precio" class="form-label">Precio (Dólares):</label>
        <input disabled type="number" name="precio" id="precio" value="{{edicion.precio_input}}" class="form-control"><br>

        <h4 class="tituloInput">Características Extra</h4>

        <div class="checkBoxInput">
        <label for="amueblado" class="form-label">Está amueblado:</label>
        <input disabled type="checkbox" name="amueblado" id="amueblado" {% if edicion.amueblado %}checked{% endif %} class="form-check"><br>
    </div>


        <label for="estacionamiento" class="form-label">Puestos de estacionamiento:</label>
        <input disabled type="number" min="0" value="{{edicion.estacionamientos}}" name="estacionamiento" id="estacionamiento" class="form-control"><br>

        <label for="pisos" class="form-label">Número de Pisos:</label>
        <input disabled type="number" min="1" value="{{edicion.pisos}}" required name="pisos" id="pisos" class="form-control"><br>
        <h4 class="tituloInput">Servicios</h4>
        <div class="checkBoxInput">
        <label for="agua" class="form-label">Servicio de agua:</label>
        <input disabled type="checkbox" name="agua" id="agua" {% if edicion.agua %}checked{% endif %} class="form-check"><br>
    </div>
    <div class="checkBoxInput">
        <label for="electricidad" class="form-label">Servicio de electricidad:</label>
        <input disabled type="checkbox" name="electricidad" id="electricidad" {% if edicion.electricidad %}checked{% endif %} class="form-check"><br>
    </div>
    <div class="checkBoxInput">
        <label for="gas" class="form-label">Servicio de gas:</label>
        <input disabled type="checkbox" name="gas" id="gas" {% if edicion.gas %}checked{% endif %} class="form-check"><br>
    </div>
    <div class="checkBoxInput">
        <label for="aseo" class="form-label">Servicio de aseo:</label>
        <input disabled type="checkbox" name="aseo" id="aseo" {% if edicion.aseo %}checked{% endif %} class="form-check"><br>
    </div>
    <div class="checkBoxInput">
        <label for="internet" class="form-label">Servicio de Internet:</label>
        <input disabled type="checkbox" name="internet" id="internet" {% if edicion.internet %}checked{% endif %} class="form-check"><br></div>
        <button type="submit" name="cambios" value="aprobar" class="btn btn-success">Aprobar Cambios</button>
        <button type="submit" name="cambios" value="rechazar" class="btn btn-success">Rechazar Cambios</button>
    </form>
    </div>
    </div>
</body>
{% include 'footer.html' %}
</html>