:root {
    --negro: #000000;
    --verdeOscuro: #6EC402;
    --verdeClaro: #a9f14f;
    --verdeOscuroFondo: rgb(169, 241, 79, 0.5);
    --negroFondo: rgb(0, 0, 0, 0.5);
    --blanco: #FFFFFF;
 }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.navegadorPrincipal {
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.linkRegreso {
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--negro);
}

.linkRegreso:hover {
    color: var(--verdeOscuro);
}

#logoJausi {
    width: 8%;
}

.fondoLogin{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(
        to bottom,
        var(--verdeOscuroFondo),
        var(--negroFondo)
      ), url("img/fondoLogin.jpg"); 
    background-size: cover;
    background-position: center;
    height: 80vw;
}

.cuadroForm {
    margin: 0px auto;
    background-color: white;
    width: 50vw;
    height: 42vw;
    border-radius: 5%;
    box-shadow: 8px 8px 8px #000000;
}

.loginTitle {
    color: var(--verdeOscuro);
    font-weight: bolder;
    font-size: 220%;
}

.form-control{
    width: 80%!important;
    margin-left: 10%;

}

.apartadoBoton {
    text-align: center;
}

.btn-success {
    background-color: var(--verdeOscuro)!important;
    color: var(--blanco)!important;
    border: var(--verdeOscuro)!important;
    width: 250px;
    height: 40px;
    font-weight: 600!important;
    border-radius: 100px!important;
}

.btn-success:hover {
    background-color: #325a00!important;
    color:#000000!important;
}

/* Footer */

.contenedorFooters {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.listaLinks {
    list-style: none;
    margin: 0;
    line-height: 300%;
    padding: 0;
    float: left;
}

.listaLinks a{
    color: var(--negro);
    font-weight: 600;
}

.linksAcciones {
    color:var(--verdeOscuro)!important;
}

.copyrightFinal {
    background-color: var(--verdeOscuro);
    color: var(--blanco);
    font-weight: 600;
    margin-top: 10%;
    bottom: 0;
    height: 10vw;
}

.copyrightFinal p {
    margin-left: 5%;
    font-size: 120%;
    padding-top: 4%;   
}