* {
    /*border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat';
    --verdeMusgo: #6EC402;
    --verdeClaro: #A9F14F;
    --Rojorubi: #DB0F27;
    --RojoOscuro: #82191e;
    --azul: #0099ff;

}

.containerConsultaCitas {
    background-image: url("../../img/Consultas/Consulta_Compras/ConsultaCompra.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.cuadroCita{
    background-color: white;
}

.btn-success {
    background-color: var(--Rojorubi)!important;
    color: white!important;
    border-color: var(--Rojorubi)!important;
}


.btn-success a{
    background-color: var(--Rojorubi)!important;
    color: white!important;
    border-color: var(--Rojorubi)!important;
    text-decoration: none;
}

.btn-success:hover {
    background-color: var(--RojoOscuro)!important;
    color: white!important;
    border-color: var(--RojoOscuro)!important;
}

.btn-success:hover a {
    background-color: var(--RojoOscuro)!important;
    color: white!important;
    border-color: var(--RojoOscuro)!important;
}

.citasTitulo {
    font-weight: 700;
    color: var(--verdeMusgo);
}

.linkPublicacion a{
    color: var(--verdeMusgo);
}

.palabraPrecio {
    font-weight: 600;
}

@media(max-width:1999px) {
    .containerConsultaCitas {
        padding: 140px 120px 140px 120px;
    }

    .cuadroCita {
        padding: 30px 40px 30px 40px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 3%;
        padding-bottom:3%;
        font-size: 390%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-evenly;
    }

    .grupoBotones button {
        width: 25%!important;
        font-size: 100%!important; 
        margin-left: 1%;
        margin-right: 1%;
    }

    .linkPublicacion {
        font-size: 240%;
    }

    .palabraPrecio {
        font-size: 190%;
    }

    .form-label {
        font-size: 170%;
    }

    .btn-success {
        width: 15%!important;
        font-size: 100%!important;
    }
}

@media(max-width:1440px) {
    .containerConsultaCitas {
        padding: 100px 80px 100px 80px;
    }

    .cuadroCita {
        padding: 30px 40px 30px 40px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 3%;
        padding-bottom:3%;
        font-size: 360%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-evenly;
    }

    .grupoBotones button {
        width: 35%!important;
        font-size: 130%!important; 
        margin-left: 1%;
        margin-right: 1%;
    }

    .linkPublicacion {
        font-size: 220%;
    }

    .palabraPrecio {
        font-size: 180%;
    }

    .form-label {
        font-size: 150%;
    }

    .btn-success {
        width: 20%!important;
        font-size: 110%!important;
    }
}

@media(max-width:1280px) {
    .containerConsultaCitas {
        padding: 90px 80px 90px 80px;
    }

    .cuadroCita {
        padding: 30px 40px 30px 40px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 3%;
        padding-bottom:3%;
        font-size: 330%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 35%!important;
        font-size: 90%!important; 
        margin-left: 1%;
        margin-right: 1%;
    }

    .linkPublicacion {
        font-size: 200%;
    }

    .palabraPrecio {
        font-size: 170%;
    }

    .form-label {
        font-size: 130%;
    }

    .btn-success {
        width: 20%!important;
        font-size: 90%!important;
    }
}

@media(max-width:1024px) {
    .containerConsultaCitas {
        padding: 50px 40px 50px 40px;
    }

    .cuadroCita {
        padding: 30px 40px 30px 40px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 3%;
        padding-bottom:3%;
        font-size: 300%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 75%!important;
        font-size: 100%!important; 
        margin-left: 2%;
        margin-right: 2%;
    }

    .linkPublicacion {
        font-size: 190%;
    }

    .palabraPrecio {
        font-size: 160%;
    }

    .form-label {
        font-size: 120%;
    }

    .btn-success {
        width: 30%!important;
        font-size: 110%!important;
    }
}

@media(max-width:800px) {
    .containerConsultaCitas {
        padding: 40px 20px 40px 20px;
    }

    .cuadroCita {
        padding: 30px 40px 30px 40px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 240%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 80%!important;
        font-size: 110%!important; 
        margin-left: 2%;
        margin-right: 2%;
    }

    .linkPublicacion {
        font-size: 170%;
    }

    .palabraPrecio {
        font-size: 140%;
    }

    .form-label {
        font-size: 110%;
    }

    .btn-success {
        width: 40%!important;
        font-size: 110%!important;
    }
}

@media(max-width:768px) {
    .containerConsultaCitas {
        padding: 40px 20px 40px 20px;
    }

    .cuadroCita {
        padding: 30px 40px 30px 40px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 240%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 80%!important;
        font-size: 110%!important; 
        margin-left: 2%;
        margin-right: 2%;
    }

    .linkPublicacion {
        font-size: 170%;
    }

    .palabraPrecio {
        font-size: 140%;
    }

    .form-label {
        font-size: 110%;
    }

    .btn-success {
        width: 40%!important;
        font-size: 110%!important;
    }
}

@media(max-width:600px) {
    .containerConsultaCitas {
        padding: 20px 20px 20px 20px;
    }

    .cuadroCita {
        padding: 30px 30px 30px 30px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 200%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 60%!important;
        font-size: 90%!important; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .linkPublicacion {
        font-size: 150%;
    }

    .palabraPrecio {
        font-size: 120%;
    }

    .form-label {
        font-size: 100%;
    }

    .btn-success {
        width: 45%!important;
        font-size: 90%!important;
    }
}

@media(max-width:480px) {
    .containerConsultaCitas {
        padding: 20px 10px 20px 10px;
    }

    .cuadroCita {
        padding: 10px 10px 10px 10px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 195%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 50%!important;
        font-size: 80%!important; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .linkPublicacion {
        font-size: 130%;
    }

    .palabraPrecio {
        font-size: 110%;
    }

    .btn-success {
        width: 45%!important;
        font-size: 70%!important;
    }
}

@media(max-width:320px) {
    .containerConsultaCitas {
        padding: 20px 10px 20px 10px;
    }

    .cuadroCita {
        padding: 10px 10px 10px 10px;
        border-radius: 0%;
    }

    .citasTitulo {
        padding-top: 10%;
        font-size: 145%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-evenly;
    }

    .grupoBotones button {
        width: 40%!important;
        font-size: 70%!important; 
    }

    .linkPublicacion {
        font-size: 130%;
    }

    .palabraPrecio {
        font-size: 110%;
    }

    .btn-success {
        width: 60%!important;
        font-size: 60%;
    }
}