* {
    /*border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat';
    --verdeMusgo: #6EC402;
    --verdeClaro: #A9F14F;
    --Rojorubi: #DB0F27;
    --RojoOscuro: #82191e;
    --azul: #0099ff;
    --Gris: #aacde5;

}

.containerConsultaCitas {
    background-image: url("../../img/Consultas/Consulta_Compras/ConsultaCompra.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.cuadroCita{
    background-color: white;
}

.btn-success {
    background-color: var(--Rojorubi)!important;
    color: white!important;
    border-color: var(--Rojorubi)!important;
}


.btn-success a{
    background-color: var(--Rojorubi)!important;
    color: white!important;
    border-color: var(--Rojorubi)!important;
    text-decoration: none;
}

.btn-success:hover {
    background-color: var(--RojoOscuro)!important;
    color: white!important;
    border-color: var(--RojoOscuro)!important;
}

.btn-success:hover a {
    background-color: var(--RojoOscuro)!important;
    color: white!important;
    border-color: var(--RojoOscuro)!important;
}

.citasTitulo {
    font-weight: 700;
    color: var(--verdeMusgo);
}

.linkPublicacion a{
    color: var(--verdeMusgo);
}


.palabraPrecio {
    font-weight: 600;
}

.mensajeNoHayCompras {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mensajeNoCompras {
    text-align: center;
}

.tituloAtencion {
    color: var(--Rojorubi);
    text-align: center;
}

.botonIcon {
    background: none;
    border: none;
    width: 10%;
    text-align:center;
}

.botonIcon i {
    color: var(--Rojorubi);
    
}



.botonIcon i:hover {
    color: var(--Gris);
}


@media(max-width:2000px) {
    .containerConsultaCitas {
        padding: 140px 120px 140px 120px;
    }

    .cuadroCita {
        padding: 30px 20px 30px 20px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 3%;
        padding-bottom:3%;
        font-size: 390%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-evenly;
    }

    .grupoBotones button {
        width: 25%!important;
        font-size: 160%!important; 
        margin-left: 1%;
        margin-right: 1%;
    }

    .linkPublicacion {
        font-size: 110%;
    }

    .palabraPrecio {
        font-size: 140%;
    }

    .form-label {
        font-size: 170%;
    }

    .btn-success {
        width: 55%!important;
        font-size: 100%!important;
    }

    #logoAdvertencia {
        width: 100%;
    }

    .tituloAtencion {
        font-size: 300%;
    }

    .alert-warning {
        font-size: 175%;
    }

    .botonIcon i {
        font-size: 200%; 
    }
}

@media(max-width:1400px) {
    .containerConsultaCitas {
        padding: 100px 80px 100px 80px;
    }

    .cuadroCita {
        padding: 15px 10px 30px 10px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 3%;
        padding-bottom:3%;
        font-size: 360%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: center;
    }

    .grupoBotones button {
        width: 35%!important;
        font-size: 190%!important; 
        margin-left: 1%;
        margin-right: 1%;
    }

    .linkPublicacion {
        font-size: 80%;
    }

    .palabraPrecio {
        font-size: 120%;
    }

    .form-label {
        font-size: 120%;
    }

    .btn-success {
        width: 40%!important;
        font-size: 60%!important;
    }

    #logoAdvertencia {
        width: 100%;
    }

    .tituloAtencion {
        font-size: 300%;
    }

    .alert-warning {
        font-size: 175%;
    }

    .botonIcon i {
        font-size: 200%; 
    }
}

@media(max-width:1200px) {
    .containerConsultaCitas {
        padding: 40px 40px 40px 40px;
    }

    .cuadroCita {
        padding: 10px 10px 30px 10px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 1%;
        font-size: 240%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .linkPublicacion {
        font-size: 130%;
    }

    .palabraPrecio {
        font-size: 110%;
    }

    .form-label {
        font-size: 80%;
    }

    .btn-success {
        width: 35%!important;
        font-size: 55%!important;
    }

    #logoAdvertencia {
        width: 100%;
    }

    .tituloAtencion {
        font-size: 260%;
    }

    .alert-warning {
        font-size: 165%;
    }

    .botonIcon i {
        font-size: 200%; 
    }
}

@media(max-width:992px) {
    .containerConsultaCitas {
        padding: 40px 40px 40px 40px;
    }

    .cuadroCita {
        padding: 10px 10px 30px 10px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 1%;
        font-size: 240%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .linkPublicacion {
        font-size: 80%;
    }

    .palabraPrecio {
        font-size: 110%;
    }

    .form-label {
        font-size: 80%;
    }

    .btn-success {
        width: 45%!important;
        font-size: 55%!important;
    }

    #logoAdvertencia {
        width: 100%;
    }

    .tituloAtencion {
        font-size: 260%;
    }

    .alert-warning {
        font-size: 165%;
    }

    .botonIcon i {
        font-size: 200%; 
    }
}

@media(max-width:768px) {
    .containerConsultaCitas {
        padding: 40px 40px 40px 40px;
    }

    .cuadroCita {
        padding: 30px 10px 30px 10px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 240%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 80%!important;
        font-size: 110%!important; 
        margin-left: 2%;
        margin-right: 2%;
    }

    .linkPublicacion {
        font-size: 170%;
    }

    .palabraPrecio {
        font-size: 140%;
    }

    .form-label {
        font-size: 110%;
    }

    .btn-success {
        width: 40%!important;
        font-size: 110%!important;
    }

    #logoAdvertencia {
        width: 100%;
    }

    .tituloAtencion {
        font-size: 230%;
    }

    .alert-warning {
        font-size: 115%;
    }

    .botonIcon i {
        font-size: 300%; 
    }
}

@media(max-width:600px) {
    .containerConsultaCitas {
        padding: 20px 20px 20px 20px;
    }

    .cuadroCita {
        padding: 30px 30px 30px 30px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 5%;
        padding-bottom: 5%;
        font-size: 200%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 60%!important;
        font-size: 90%!important; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .linkPublicacion {
        font-size: 150%;
    }

    .palabraPrecio {
        font-size: 120%;
    }

    .form-label {
        font-size: 100%;
    }

    .btn-success {
        width: 45%!important;
        font-size: 90%!important;
    }

    #logoAdvertencia {
        margin-left: 0px;
        width: 100%;
    }

    .tituloAtencion {
        font-size: 230%;
    }

    .alert-warning {
        font-size: 105%;
    }

    .botonIcon i {
        font-size: 400%; 
    }
}

@media(max-width:480px) {
    .containerConsultaCitas {
        padding: 20px 10px 20px 10px;
    }

    .cuadroCita {
        padding: 10px 10px 10px 10px;
        border-radius: 0%;
        height: auto;
    }

    .citasTitulo {
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 195%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-around;
    }

    .grupoBotones button {
        width: 50%!important;
        font-size: 80%!important; 
        margin-left: 5%;
        margin-right: 5%;
    }

    .linkPublicacion {
        font-size: 130%;
    }

    .palabraPrecio {
        font-size: 110%;
    }

    .btn-success {
        width: 55%!important;
        font-size: 11px!important;
    }

    #logoAdvertencia {
        width: 100%;
    }

    .tituloAtencion {
        font-size: 190%;
    }

    .alert-warning {
        font-size: 100%;
    }

    .botonIcon i {
        font-size: 400%; }
}

@media(max-width:320px) {
    .containerConsultaCitas {
        padding: 20px 10px 20px 10px;
    }

    .cuadroCita {
        padding: 10px 10px 10px 10px;
        border-radius: 0%;
    }

    .citasTitulo {
        padding-top: 10%;
        font-size: 145%;
        text-align: center;
    }

    .grupoBotones form{
        display: flex;
        justify-content: space-between;
    }

    .grupoBotones button {
        width: 40%!important;
        font-size: 70%!important; 
    }

    .linkPublicacion {
        font-size: 130%;
    }

    .palabraPrecio {
        font-size: 110%;
    }

    .btn-success {
        width: 55%!important;
        font-size: 11px!important;
    }
    
    .tituloAtencion {
        font-size: 190%;
    }

    .alert-warning {
        font-size: 100%;
    }
    .botonIcon i {
    font-size: 400%; }
}