* {
    /*border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat';
    --verdeMusgo: #6EC402;
    --verdeClaro: #A9F14F;
    --Rojorubi: #DB0F27;
    --RojoOscuro: #82191e;
    --Gris: #aacde5;
    
    --azul: #0099ff;

}

.salesContainer {
    background-image: url("../../img/Consultas/Consulta_Compras/Sales.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: block;
    justify-content: center;
}

.infoVentas {
    background-color: white;
}

.citasTitulo {
    color: var(--verdeMusgo);
    font-weight: 800;
}

.linkPublicacion {
    color: var(--Gris);
}

.linkConsulta a{
    font-weight: 700;
    color: var(--verdeMusgo);
    font-style: italic;
}

.palabraPrecio {
    font-weight: 600;
}

.mensajeNoHayCompras {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#mensajeNoCompras {
    text-align: center;
}

.tituloAtencion {
    color: var(--Rojorubi);
    text-align: center;
}

@media(max-width:2000px){
    .salesContainer {
        padding: 105px 40px 105px 40px;
    }

    .infoVentas {
        padding: 35px 35px 35px 35px;
    }

    .citasTitulo {
        font-size: 380%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 190%;
    }

    .form-label {
        font-size: 150%;
    }

    .linkConsulta a{
        font-size: 110%;
      }

      .tituloAtencion {
        font-size: 300%;
    }

    .alert-warning {
        font-size: 175%;
    }
}

@media(max-width:1800px){
    .salesContainer {
        padding: 105px 40px 105px 40px;
    }

    .infoVentas {
        padding: 35px 35px 35px 35px;
    }

    .citasTitulo {
        font-size: 380%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 190%;
    }

    .form-label {
        font-size: 130%;
    }

    .linkConsulta a{
        font-size: 110%;
      }

      .tituloAtencion {
        font-size: 300%;
    }

    .alert-warning {
        font-size: 175%;
    }
}

@media(max-width:1400px){
    .salesContainer {
        padding: 105px 40px 105px 40px;
    }

    .infoVentas {
        padding: 35px 35px 35px 35px;
    }

    .citasTitulo {
        font-size: 380%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 170%;
    }

    .form-label {
        font-size: 110%;
    }

    .linkConsulta a{
        font-size: 110%;
      }

      .tituloAtencion {
        font-size: 300%;
    }

    .alert-warning {
        font-size: 175%;
    }
}

@media(max-width:1200px){
    .salesContainer {
        padding: 45px 35px 45px 45px;
    }

    .infoVentas {
        padding: 25px 10px 25px 10px;
    }

    .citasTitulo {
        font-size: 320%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 160%;
    }

    .form-label {
        font-size: 90%;
    }

    .linkConsulta a{
        font-size: 80%;
      }

      .tituloAtencion {
        font-size: 260%;
    }

    .alert-warning {
        font-size: 165%;
    }
}

@media(max-width:992px){
    .salesContainer {
        padding: 45px 35px 45px 45px;
    }

    .infoVentas {
        padding: 25px 10px 25px 10px;
    }

    .citasTitulo {
        font-size: 320%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 160%;
    }

    .form-label {
        font-size: 90%;
    }

    .linkConsulta a{
        font-size: 80%;
      }

      .tituloAtencion {
        font-size: 260%;
    }

    .alert-warning {
        font-size: 165%;
    }
}

@media(max-width:768px){
    .salesContainer {
        padding: 35px 27px 35px 35px;
    }

    .infoVentas {
        padding: 15px 10px 15px 10px;
    }

    .citasTitulo {
        font-size: 290%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 200%;
    }

    .form-label {
        font-size: 110%;
    }

    .linkConsulta a{
        font-size: 110%;
      }

      .tituloAtencion {
        font-size: 230%;
    }

    .alert-warning {
        font-size: 115%;
    }
}

@media(max-width:600px){
    .salesContainer {
        padding: 20px 25px 20px 30px;
    }

    .infoVentas {
        padding: 10px 10px 10px 10px;
    }

    .citasTitulo {
        font-size: 260%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 180%;
    }

    .form-label {
        font-size: 100%;
    }

    .linkConsulta a{
        font-size: 105%;
      }

      .tituloAtencion {
        font-size: 230%;
    }

    .alert-warning {
        font-size: 105%;
    }
}


@media(max-width:480px){
    .salesContainer {
        padding: 20px 30px 20px 40px;
    }

    .infoVentas {
        padding: 10px 10px 10px 10px;
    }

    .citasTitulo {
        font-size: 240%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 160%;
    }

    .form-label {
        font-size: 95%;
    }

    .linkConsulta a{
        font-size: 105%;
      }

      .tituloAtencion {
        font-size: 190%;
    }

    .alert-warning {
        font-size: 100%;
    }
}


@media(max-width:320px){
    .salesContainer {
        padding: 5px 5px 5px 5px;
    }

    .infoVentas {
        padding: 10px 10px 10px 10px;
    }

    .citasTitulo {
        font-size: 200%;
        padding-top: 10px;
        text-align: center;
    }

    .linkPublicacion {
        font-size: 150%;
    }

    .form-label {
        font-size: 90%;
    }

    .tituloAtencion {
        font-size: 190%;
    }

    .alert-warning {
        font-size: 100%;
    }
}