{% load static %}

<link rel="stylesheet" href="{% static 'estilos/footer/footer.css' %}">

<footer>
    <div class="contenedorHileras container-fluid">
            <div class="hilera1Footer container-fluid">
                <h3>Mas de Incaibo</h3>
                <ul class="listaDesordenadaFooter">
               <li><a href="">Términos y Condiciones</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Soporte</a></li>
                <li><a href="">Historia</a></li>
            </ul>
            </div>
            <div class="hilera2Footer container-fluid">
                <h3>Acciones</h3>
                <ul>
                <li><a href="">Comprar Inmuebles</a></li>
                <li><a href="">Vender Inmuebles</a></li>
                <li><a href="">Ver Agentes</a></li>
            </ul>
            </div>
            <div class="hilera3Footer container-fluid">
                <h3>Redes Sociales</h3>
                <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
            </div>
    </div>
    <div class="copyrightContainer container-fluid">
        <p class="container-fluid">© Copyright 2023 incaibo.com</p>
        
    </div>
    <!--
       Footer
    -->        
</footer>
