{% load static %}

<link rel="stylesheet" href="{% static 'estilos/footer/footer.css' %}">

<footer>
    <div class="contenedorHileras container-fluid">
            <div class="hilera1Footer container-fluid">
                <h3>Más de Incaibo</h3>
                <ul class="listaDesordenadaFooter">
                    <li><a href="mailto:soporte.incaibo@gmail.com">Soporte</a></li>
                </ul>
            </div>
            <div class="hilera2Footer container-fluid">
                <h3>Acciones</h3>
                <ul>
                    <li><a href="{% url 'resultados' %}">Comprar Inmuebles</a></li>
                    <li><a href="{% url 'resultados' %}">Buscar Inmuebles</a></li>
                    <li><a href="/">Ver Agentes</a></li>
                </ul>
            </div>
            <div class="hilera3Footer container-fluid">
                <h3>Redes Sociales</h3>
                <ul>
                <li><a target="_blank" href="https://www.facebook.com/">Facebook</a></li>
                <li><a target="_blank" href="https://www.instagram.com/">Instagram</a></li>
                <li><a target="_blank" href="https://www.twitter.com/">Twitter</a></li>
            </ul>
            </div>
    </div>
    <div class="copyrightContainer container-fluid">
        <p class="container-fluid">© Copyright 2023 incaibo.com</p>
        
    </div>
    <!--
       Footer
    -->        
</footer>
