{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos/offline.css' %}">
    <link href="{% static 'estilos/bootstrap.min.css' %}" rel="stylesheet">

    <title>Incaibo | Sin conexión</title>

    <script>
        const synthesis = window.speechSynthesis;
        let utterance = undefined;
        const voice = synthesis.getVoices().filter(function (voice) {
            return voice.lang === 'es';
        })[2];

        window.onbeforeunload = function () {
            synthesis.cancel();
        }

        function hablar(texto){
            if ('speechSynthesis' in window) {
                speaking = true;
                utterance = new SpeechSynthesisUtterance(texto);
                utterance.voice = voice;
                utterance.pitch = 1;
                utterance.rate = 1;
                utterance.volume = 1;
                synthesis.speak(utterance);
            }
        }
        
        hablar("Estimado usuario, justo ahora no tiene conexión a internet. Conéctese a internet y vuelva a intentar ingresar.");
        hablar("Atentamente, Inmuebles Incaibo.");
    </script>
</head>
<nav class="navegadorPrincipal">
    <img src="{% static 'img/logoCasa.png' %}" alt="Logo " id="logoJausi" > 
</nav>
<body><hr>
    <div class="container-fluid contenedorElementos">
        <div class="navegadorPrincipal">
    <img src="{% static 'img/WarningIcon.png' %}" alt="" id="logoAdvertencia" class="container-fluid">
</div>
    <h1 class="tituloAdvertencia container-fluid">ADVERTENCIA</h1></div>
    <div class="contenedorMensajes">
    <p>Estimado usuario, justo ahora no tiene conexión a internet. Conéctese a internet y vuelva a intentar ingresar. Puede presionar <b>F5</b> para refrescar página.</p>
    <p id="firma">Atentamente, Inmuebles Incaibo.</p>
</div>
</body>

</html>