* {
    /*border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat';
    --verdeMusgo: #6EC402;
    --verdeClaro: #A9F14F;
    --Rojorubi: #DB0F27;
    --RojoOscuro: #82191e;

}


.contenedorInfoPerfil {
    background-color: white;
}

.contenedorInfoPerfil ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tituloForm {
    text-align: center;
    color: var(--Rojorubi);
    font-weight: 700;
}

.containerOverall {
    background-image: url("../../img/Perfil/fondoPerfil.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.grupoLinks a {
    color: var(--verdeMusgo);
    font-style: italic;
    font-weight: 500;
}

.containerImageProfile .bi {
    color: white;
}

@media(max-width:2000px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }

    
    .containerImageProfile {
        margin-top:120px; 
        margin-right: 10px;
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 2500%;
    }

    .tituloForm {
        font-size: 400%;
    }
    
    .contenedorInfoPerfil {
        margin-top:10px; 
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: flex;
        justify-content: space-around;
    }

    .grupoLinks a {
        font-size: 180%;
    }
    p {
        font-size: 180%;
    }



    
}

@media(max-width:1854px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
    }

    
    .containerImageProfile {
        margin-top:160px; 
        margin-right: 10px;
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 2500%;
    }

    .tituloForm {
        font-size: 400%;
    }
    
    .contenedorInfoPerfil {
        margin-top:10px; 
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: flex;
        justify-content: space-around;
    }

    .grupoLinks a {
        font-size: 180%;
    }
    p {
        font-size: 180%;
    }



    
}

@media(max-width:1440px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    
    .containerImageProfile {
        margin-top:200px; 
        margin-right: 10px;
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 2000%;
    }

    .tituloForm {
        font-size: 400%;
    }
    
    .contenedorInfoPerfil {
        margin-top:10px; 
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: flex;
        justify-content: space-around;
    }

    .grupoLinks a {
        font-size: 180%;
    }
    small {
        font-size: 220%;
    }



    
}

@media(max-width:1280px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
    }

    
    .containerImageProfile {
        margin-top:200px; 
        margin-right: 10px;
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 1900%;
    }

    .tituloForm {
        font-size: 240%;
    }
    
    .contenedorInfoPerfil {
        margin-top:10px; 
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: flex;
        justify-content: space-around;
    }

    .grupoLinks a {
        font-size: 180%;
    }
    p {
        font-size: 160%;
    }



    
}

@media(max-width:1024px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        display: block;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }

    
    .containerImageProfile {
        margin-top:10px; 
        margin-right:0px;
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 1800%;
    }

    .tituloForm {
        font-size: 240%;
    }
    
    .contenedorInfoPerfil {
        margin-top:0px; 
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: flex;
        justify-content: space-around;
    }

    .grupoLinks a {
        font-size: 180%;
    }
    p {
        font-size: 140%;
    }



    
}

@media(max-width:800px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        margin-left: 20px;
        margin-right: 20px;
    }

    
    .containerImageProfile {
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 1800%;
    }

    .tituloForm {
        font-size: 240%;
    }
    
    .contenedorInfoPerfil {
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: flex;
        justify-content: space-around;
    }

    .grupoLinks a {
        font-size: 140%;
    }

    small {
        font-size: 150%;
    }




    
}

@media(max-width:760px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        margin-left: 20px;
        margin-right: 20px;
    }

    
    .containerImageProfile {
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 1800%;
    }

    .tituloForm {
        font-size: 240%;
    }
    
    .contenedorInfoPerfil {
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 180%;
    }

    .grupoLinks {
        display: block;
        justify-content: center;
    }

    .grupoLinks a {
        font-size: 140%;
    }

    small {
        font-size: 140%;
    }




    
}

@media(max-width:600px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        margin-left: 20px;
        margin-right: 20px;
    }

    
    .containerImageProfile {
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 1600%;
    }

    .tituloForm {
        font-size: 210%;
    }
    
    .contenedorInfoPerfil {
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 2%;
    }

    .contenedorInfoPerfil li {
        font-size: 140%;
    }

    .grupoLinks {
        display: block;
        justify-content: center;
    }

    .grupoLinks a {
        font-size: 120%;
    }

    small {
        font-size: 120%;
    }




    
}

@media(max-width:480px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contenedorPerfil {
        margin-left: 20px;
        margin-right: 20px;
    }

    
    .containerImageProfile {
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 1200%;
    }

    .tituloForm {
        font-size: 180%;
    }

    .contenedorInfoPerfil {
        padding: 40px 20px 40px 40px;
        margin-bottom: 60px;
        border-radius: 1%;
    }

    .contenedorInfoPerfil li {
        font-size: 120%;
    }

    .grupoLinks {
        display: block;
        justify-content: center;
    }

    .grupoLinks a {
        font-size: 100%;
    }

    small {
        font-size: 110%;
    }




    
}

@media(max-width:310px) {

    .containerOverall {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .containerImageProfile {
        text-align: center;
    }

    .containerImageProfile .bi {
        font-size: 800%;
    }
    .contenedorInfoPerfil {
        padding: 40px 20px 40px 20px;
        margin-bottom: 60px;
        border-radius: 1%;
    }

    .contenedorInfoPerfil li {
        font-size: 10%;
    }

    .grupoLinks {
        display: block;
        justify-content: center;
    }

    .grupoLinks a {
        font-size: 100%;
    }

    .tituloForm {
        font-size: 140%;
    }

    small {
        font-size: 100%;
    }


    
}