* {
    /*border: 1px solid red; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat';
    --verdeMusgo: #6EC402;
    --verdeClaro: #A9F14F;
    --Rojorubi: #DB0F27;
    --RojoOscuro: #82191e;

}

.containerOverall {
    background-image: url("../../img/Perfil/fondoPerfil.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: auto;
}

.contenedorInfoPerfil {
    background-color: white;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.tituloForm {
    color: var(--Rojorubi);
    font-weight: 700;
}

.form-control {
    border:thin black solid!important;
}


.btn-success {
    background-color: var(--verdeMusgo)!important;
    color: white!important;
    border-color: var(--verdeMusgo)!important;
}

.btn-success:hover {
    background-color: #3f7200!important;
    color: white!important;
    border-color:#3f7200!important;
}

@media(max-width:2000px) {
    .containerOverall {
        padding: 20px 420px 20px 420px;
    }

    .contenedorInfoPerfil {
        padding: 30px 40px 30px 40px
    }

    .tituloForm {
        font-size: 280%;
        text-align: center;
    }

    .form-label {
        font-size: 155%;
    }

    .form-control {
        width: 90%!important;
        font-size: 130%!important;
    }

    .btn-success {
        width: 30%!important;
        font-size: 80%!important;
    }
}

@media(max-width:1440px) {
    .containerOverall {
        padding: 20px 380px 20px 380px;
    }

    .contenedorInfoPerfil {
        padding: 30px 40px 30px 40px
    }

    .tituloForm {
        font-size: 250%;
        text-align: center;
    }

    .form-label {
        font-size: 155%;
    }

    .form-control {
        width: 90%!important;
        font-size: 110%!important;
    }

    .btn-success {
        width: 30%!important;
        font-size: 70%!important;
    }
}

@media(max-width:1280px) {
    .containerOverall {
        padding: 20px 210px 20px 210px;
    }

    .contenedorInfoPerfil {
        padding: 30px 40px 30px 40px
    }

    .tituloForm {
        font-size: 240%;
        text-align: center;
    }

    .form-label {
        font-size: 115%;
    }

    .form-control {
        width: 90%!important;
        font-size: 70%!important;
    }

    .btn-success {
        width: 25%!important;
        font-size: 55%!important;
    }
}

@media(max-width:1024px) {
    .containerOverall {
        padding: 20px 210px 20px 210px;
    }

    .contenedorInfoPerfil {
        padding: 30px 40px 30px 40px
    }

    .tituloForm {
        font-size: 152%;
        text-align: center;
    }

    .form-label {
        font-size: 100%;
    }

    .form-control {
        width: 90%!important;
        font-size: 70%!important;
    }

    .btn-success {
        width: 40%!important;
        font-size: 70%!important;
    }
}

@media(max-width:800px) {
    .containerOverall {
        padding: 20px 130px 20px 130px;
    }

    .contenedorInfoPerfil {
        padding: 30px 40px 30px 40px
    }

    .tituloForm {
        font-size: 200%;
        text-align: center;
    }

    .form-label {
        font-size: 90%;
    }


    .form-control {
        width: 90%!important;
        font-size: 60%!important;
    }

    .btn-success {
        width: 30%!important;
        font-size: 70%!important;
    }
}


@media(max-width:768px) {
    .containerOverall {
        padding: 80px 130px 80px 130px;
    }

    .contenedorInfoPerfil {
        padding: 30px 10px 30px 20px
    }

    .datosForm {
        margin-left: 20px;
    }

    .tituloForm {
        font-size: 145%;
        text-align: center;
    }

    .form-label {
        font-size: 80%;
    }

    .form-control {
        width: 90%!important;
        font-size: 60%!important;
    }

    .btn-success {
        width: 30%!important;
        font-size: 45%!important;
    }
}

@media(max-width:600px) {
    .containerOverall {
        padding: 70px 80px 70px 80px;
    }

    .contenedorInfoPerfil {
        padding: 10px 10px 20px 10px
    }

    .datosForm {
        margin-left: 20px;
    }

    .tituloForm {
        font-size: 145%;
        text-align: center;
    }

    .form-label {
        font-size: 80%;
    }

    .form-control {
        width: 90%!important;
        font-size: 60%!important;
    }

    .btn-success {
        width: 40%!important;
        font-size: 60%!important;
    }
}

@media(max-width:480px) {
    .containerOverall {
        padding: 30px 30px 30px 30px;
    }

    .contenedorInfoPerfil {
        padding: 20px 10px 20px 10px
    }

    .datosForm {
        margin-left: 20px;
    }

    .tituloForm {
        font-size: 145%;
        text-align: center;
    }

    .form-label {
        font-size: 80%;
    }

    .form-control {
        width: 90%!important;
        font-size: 60%!important;
    }

    .btn-success {
        width: 50%!important;
        font-size: 60%!important;
    }
}

@media(max-width:320px) {
    .containerOverall {
        padding: 20px 20px 30px 20px;
    }

    .contenedorInfoPerfil {
        padding: 10px 15px 10px 15px
    }

    .tituloForm {
        font-size: 190%;
        text-align: center;
    }

    .form-label {
        font-size: 100%;
    }

    .form-control {
        width: 100%!important;
    }

    .btn-success {
        width: 50%!important;
        font-size: 70%!important;
    }
}