{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido, {{request.user.persona}}</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'estilos/inicio/homeAgente.css' %}">
</head>
<body>
    {% include 'nav.html' %}

    <div class="bienvenida">
        <h2 class="titulo container-fluid">BIENVENIDO<Br> AGENTE</h2>

    <div class="containerCards row">

<div class="card col-md-4">
    <img src="{% static 'img/BienvenidaAgente/ConsultaPubli.jpg'%}" class="w-100 h-100">
    <div class="card-body">
        <h5 class="card-title">PUBLICACIONES</h5>
        <a href="{% url 'consultar_asignadas' %}" class="consultaPublicaciones card-link">Publicaciones Activas</a><br>
        <a href="{% url 'consultar_revision' %}" class="consultaPublicaciones card-link">Publicaciones en Revisión</a><br>
        <a href="{% url 'consultar_finalizadas' %}" class="consultaPublicaciones card-link">Publicaciones Finalizadas</a>
    </div>
  </div><br>

  <div class="card col-md-4">
    <img src="{% static 'img/BienvenidaAgente/ConsultaCitas.jpg'%}" class="w-100 h-100">
    <div class="card-body">
        <h5 class="card-title">CITAS</h5>
        <a href="{% url 'consultar_citas_pendientes' %}">Citas Pendientes</a><br>
        <a href="{% url 'consultar_citas_finalizadas' %}">Citas Finalizadas</a>
    </div>
  </div><br>

  <div class="card col-md-4">
    <img src="{% static 'img/BienvenidaAgente/ConsultaVentas.jpg'%}" class="w-100 h-100">
    <div class="card-body">
        <h5 class="card-title">VENTAS</h5>
        <a href="{% url 'consultar_ventas_revision' %}">Ventas Revisión</a><br>
        <a href="{% url 'consultar_ventas_cerradas' %}">Ventas Cerradas</a>
    </div>
  </div><br>
   
</div> 
</div>
    <script src="{% static '/notify.min.js' %}"></script>
    <script>
        $(function(){
            $.notify("{{mensaje}}", {
                clickToHide: true,
                autoHide: true,
                className: 'success'
            });
        });
        
    </script>
    {% include 'footer.html' %}
</body>

</html>